{% extends 'admin/base.html.twig' %}

{% block title %}Account Settings{% endblock %}
{% block pageTitle %}
    <div class="page-header-icon">
        <i class="fas fa-cogs"></i>
    </div>
    Account Settings
{% endblock %}
{% block body %}
    <div class="card card-header-actions mx-auto shadow-none">
        <div class="card-header p-0 h-100 border-0">
            <nav class="w-auto">
                <div class="nav nav-tabs ps-2 pe-2 pt-2" role="tablist">
                    <a href="{{ url('admin_account_profile') }}"
                       class="nav-link {% if app.request.get('_route') in ['admin_account_profile'] %}active{% endif %}"
                       type="button">
                        Profile
                    </a>
                    <a href="{{ url('admin_account_change_password') }}"
                       class="nav-link {% if app.request.get('_route') in ['admin_account_change_password'] %}active{% endif %}"
                       type="button">
                        Change Password
                    </a>
                </div>
            </nav>
            <div class="actions me-2">
                <a href="{{ url('admin_logout') }}" class="btn btn-warning btn-sm" target="_blank">
                    <i class="fa fa-sign-out me-1"></i>
                    Logout
                </a>
            </div>
        </div>
    </div>
{% endblock %}