{% extends 'base.html.twig' %}

{% block title %}
	Forgot Password
{% endblock %}

{% block body %}

	{{ include('customer/common/top_section.html.twig',
		{ section: { name: 'Forgot Password', active: true }}) 
		}}

	<div class="container">
		<div
			class="page-content">
			<!-- Begin page content -->
			<section class="pages-contents customer-login common-account-pages-wrapper mb-5 1">
				<div class="container">
					<div class="row justify-content-center">
						{{ include('common/flash.html.twig') }}
						<div class="col-lg-5">
							<div class="card shadow-sm border-black rounded-lg">
								<div class="card-body login-form-body">
									{{ component('ForgetPasswordForm')}}
									<div class="dont-have-account text-center mt-4">
										<a href="{{ path('login') }}">
											<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-in text-sgs-purple" aria-hidden="true" data-acsb-hidden="true" data-acsb-force-hidden="true">
												<path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path>
												<polyline points="10 17 15 12 10 7"></polyline>
												<line x1="15" y1="12" x2="3" y2="12"></line>
											</svg>
											<span>Login Here</span>
										</a>
									</div>
								</div>
								<!-- /.login-card-body -->
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>


{% endblock %}
