mercure:
    hubs:
        default:
            url: '%env(MERCURE_URL)%'
            public_url: '%env(MERCURE_PUBLIC_URL)%'
            jwt:
                provider: App\Mercure\TokenProvider
#            jwt:
#                secret: '%env(MERCURE_JWT_SECRET)%'
#                publish: '*'