
<a href="{{ url('admin_config_users') }}" class="btn btn-outline-primary btn-sm">
    <i class="fas fa-filter me-2"></i>
    Clear
</a>
<button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilterUser"
        aria-controls="offcanvasFilterUser">
    <i class="fas fa-filter me-2"></i>
    Filter
</button>

{% component BootstrapOffCanvas with { id: 'offcanvasFilterUser' } %}
    {% block offcanvas_header %} 
        Filter
    {% endblock %}
    {% block offcanvas_body %}
        {{ form_start(filterForm) }}
        {{ form_row(filterForm.search) }}
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        {{ form_end(filterForm) }}
    {% endblock %}
{% endcomponent %}