{% extends 'admin/base.html.twig' %}

{% block title %}Change Password of Admin/Designer Account{% endblock %}
{% block pageTitle %}
    <div class="page-header-icon">
        <i class="fas fa-user-md"></i>
    </div>
    Change Password of Admin/Designer Account - "{{ user.username }}"
{% endblock %}

{% block body %}
    <div class="card card-header-actions mx-auto shadow-none">
        <div class="card-header">
            Change Password of Admin/Designer Account - "{{ user.username }}"
            <div>
                <a href="{{ url('admin_config_users') }}" class="btn btn-primary btn-sm">
                    <i class="fas fa-arrow-left me-2"></i>
                    List
                </a>
            </div>
        </div>
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
