$dark: #1c202b;
$white: #ffffff;
$green: #2ac473;
$yellow: #FFC107;

$light: var(--light-color);

$lightGrey: #515151;

$primaryColor: var(--primary-color);
$primaryColorLight: var(--primary-color-light);

$defaultFont: 'Montserrat', sans-serif;

$defaultFontSize: 15px;

$defaultFontWeight: 400;
