.cart-full-width {

  .cart-item {
    .card-header {
      font-family: "Mitr", sans-serif;
    }

    &:nth-last-child(3) {
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
      -ms-flex: 0 0 100%;
    }
  }
}


.cart-item {
  margin-bottom: 15px;

  .card {
    border-color: #f9f9f9;

    .card-header {
      display: flex;
      justify-content: space-between;
      background: var(--primary-color);
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      font-family: 'Mitr', sans-serif;
      @media (max-width: 556px) {
        align-items: center;
        padding: 0.5rem 1rem;
      }
      .btn-primary{
        padding: 1px 10px !important;
      }
      .cart-header-actions {
        @media (max-width: 556px) {
          text-align: center;
        }
        
        button,
        a {
          font-family: "Montserrat", serif;
          width: auto;
          font-size: 16px;
          font-weight: 600;
          margin: 0px 7px;
          color: #ffffff;

        }
      }

      .btn-primary {
        background: #fff;
        color: var(--primary-color);
        text-transform: uppercase;
        box-shadow: 1px 1px 2px var(--light-color);
        padding: 3px 10px;
        font-size: 12px;
        border: none;


        &:hover {
          color: #fff;
          background: var(--primary-color);
        }
      }
    }

    .card-body {
      border-top: 1px solid #f9f9f9;
      background: #f9f9f9;
      border-radius: 5px;

      &.cart-item-body{
        .row{
          height: 100%;
        }
      }
      .image-preview {
        width: auto;
        height: 200px;
        text-align: center;

        img {
          width: 75%;
          height: auto;
          max-width: 150px;
          margin: 0 auto;
          display: block;
        }

        @media (max-width: 767px) {
          height: auto;
          img {
            width: 80%;
            max-width: 150px;
          }
        }
      }

      .customize-your-design  {
        height: auto !important;
      }

      .custom-image-preview {
        height: 100%;
        margin-bottom: 10px;
      }
      .custom-image {
        margin-bottom: 15px;
        height: fit-content;
      }

      .free-shipping-alert{
        width: 96%;
        margin: auto;

        @media (max-width: 767px) {
          width: 93%;
        }
      }

      .card-preview-canvas {
        height: auto;
        @media (max-width: 767px) {
          margin-bottom: 18px;
        }
      }

      .item-info-table {

        td,
        th {
          padding: 5px 10px;
          font-size: 14px;
          font-weight: 500;
        }

        th {
          font-weight: 700;
        }
      }
    }
  }
}

.cart-step {
  border: none;

  .card-body {
    padding: 0;
    border: none;
    .fw-bold{
      font-size: 14px;
      font-weight: 500 !important;
    }
    .card-content {
      input{
        border: 1px solid #bcbcbc;
        border-radius: 0.375rem 0rem 0rem 0.375rem;
        box-shadow: 1px 1px 2pxrgb(194, 194, 194) !important;
        box-shadow: none;
        &:focus{
          box-shadow: none;
        }
      }
      button{
        border-radius: 0rem 0.375rem 0.375rem 0rem;
        color: #000;
        box-shadow: 1px 3px 3px 0 #000;
        &:not(.gpay-button):hover{
            color: $white !important;
            background: $primaryColor;
        } 
      }
      & form .btn-ysp-outline,
      & form input {
        box-shadow: 1px 3px 3px 0 #000;
      }
    }

    h5 {
      font-size: 25px;
      font-weight: 700;
      display: inline-flex;
      padding: 10px 20px;
      background-color: #efefef;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      text-transform: uppercase;
      color: var(--primary-color);
      .apply-coupon-ysp-info-icon {
        border: 0.09375rem solid var(--primary-color);
        padding: 2px 6px;
        border-radius: 100%;
        font-size: 10px;
        cursor: pointer;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
      }      
      @media screen and (max-width: 767px){
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin: 0px 0px 15px 0;
        border: 1px solid var(--primary-color)6b;
      }
    }

    .additional-discount-coupon {
      .apply-coupon-ysp-info-icon {
        border: 0.09375rem solid var(--primary-color);
        padding: 2px 6px;
        border-radius: 100%;
        font-size: 10px;
        cursor: pointer;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
      } 
    }
  }
}

.order-summary {
  background: #f9f9f9;
  padding: 15px 15px 35px;
  border-radius: 5px;

  table {
    margin-bottom: 35px;
    font-size: 18px;
    tbody{
      tr{
        td.text-end{
          font-weight: 600;
        }
        .total-amount{
          text-align: end;
        }
      }
    }
    th,
    td {
      text-transform: uppercase;
      background: none;
    }

    tr {
      th {
        border-left-width: 0;
        @media (max-width: 560px) {
          font-size: 14px;
        }
      }

      td {
        border-right-width: 0;
        @media (max-width: 560px) {
          font-size: 14px;
          font-weight: 500;
        }
      }

      &:first-child {
        border-top-width: 0;
      }

      &:last-child {
        border-bottom-width: 0;
      }
    }
  }
  .btn-checkout {
    background-color: #44ad0f !important;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    font-size: 27px;
    padding: 10px 60px;
    border-radius: 8px;
    display: flex;
    margin: 0 auto;
    box-shadow: 3px 4px 2px 0 #000;
    font-family: 'Montserrat', serif;
    width: 330px;
    justify-content: center;
    max-width: 100%;

    &:hover {
      color: $white;
    }
  }

  .btn-ysp-continue-shopping {
    background: $white;
    border: solid 1px var(--primary-color);
    color: $dark;
    width: 153px;
    text-transform: capitalize;
    margin: 0 auto;
    padding: 5px 10px !important;
    font-size: 12px !important;
    font-weight: 500;
    box-shadow: 2px 2px 2px $primaryColorLight;
    justify-content: center;
    display: flex;
    white-space: nowrap;
    &:hover {
      color: $white;
      background: $primaryColor;
    }
  }
}

.ysp-order-protection-modal {
  .order-protection-popup-header {
    p {
      font-size: 17px;
      margin-top: 10px;
      font-weight: 500;
      margin-bottom: 0;
      line-height: 1.5;
    }
    h3 {
    color: var(--primary-color);
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 0;
    }
    img {
      width: 75px;
    }
  }
  .order-protection-side-photo {
    width: 210px;
    margin: 0 auto;
    display: flex;
  }
  .order-protection-popup-body {
    & .links {
      background: var(--primary-color);
      padding: 7px 30px 7px 5px;
      position: absolute;
      left: 0;
      width: 92%;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: right;
      & span {
        padding: 0 5px;
        a {
          font-weight: 700;
          color: #fff;
          border-bottom: 1px solid #fff;
          font-family: Montserrat,sans-serif;
          font-size: 1rem;
        }
      }
    }
    & .order-protection-points {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        h4 {
          color: var(--primary-color);
          font-size: 22px;
          font-weight: 700;
          line-height: 1.3;
          margin: 0;
          padding: 0;
        }
        p {
          font-size: 15px;
          display: flex;
          align-items: center;
          font-size: 15px;
          padding: 10px 0 0;
          img {
            margin-right: 10px;
            max-width: 70px;
            width: auto;
            height: auto;
            display: inline-block;
            vertical-align: top;
        }
        }
      }
    }
  }
}
.popup-close-button {
  position: absolute;
  right: -5px;
  top: -11px;
  .close {
      position: absolute;
      top: 17px;
      inset-inline-end: 17px;
      z-index: 1010;
      padding: 0;
      color: rgba(0, 0, 0, 0.45);
      font-weight: 500;
      text-decoration: none;
      background: transparent;
      border-radius: 3px;
      width: 22px;
      height: 22px;
      font-size: 1.5rem;
      border: transparent;
    &:hover{
      opacity: .75;
    }
  }
}

.cart-wrapper {
  .delete-cart-modal{
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
    #deleteCartModalLabel{
      font-size: 16px !important;
      font-weight: 400;
      color: #43484e !important;
    }
    .modal-footer{
      .btn-close-text{
        background-color: var(--primary-color);
        color: #ffffff;
        border: solid 1px var(--primary-color);
      }
      button{
        font-size: 14px;
      }
    }
  }
  
  .general-info{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 10px;
    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 0 auto 5px;
    }
    & a{
      color: #0075d5;
    }
    .cart-bullet-points{
      width: 100%;
      padding: 0px 5px 20px 5px;
      border: 1px solid #eee;
      & p.text-center{
        color: var(--primary-color);
        font-weight: 600;
        margin-bottom: 5px;
        text-align: center;
      }
      .included-info {
        .col-12{
          display: flex;
          align-items: center;
        }
        svg {
          color: var(--primary-color);;
          width: 10px;
          height: 10px;
          margin-right: 6px;
        }
        p{
          font-size: 9px;
          font-weight: 600;
          margin-bottom: 0;
        }
      }
      @media (max-width: 561px){
          border-top: none;
          padding: 10px 5px 10px 5px;
      }
    }
    & .mx-auto{
      & svg{
        width: 200px;
        max-width: 100%;
        height: auto;
        @media screen and (max-width: 767px){
          width: 130px;
        }
        @media screen and (max-width: 560px){
          width: 165px;
        }
      }
      p{
        font-size: 14px;
        text-align: left;
        padding-left: 15px;
        line-height: 21px;
  
        @media screen and (max-width: 560px){
          line-height: 17px;
        }
      }
    }
  }
}

.your-order-quote{
    a {
      color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
      text-decoration: none !important;
    }
}

.empty-cart-container{
  padding: 40px 15px 0;
  h5{
    font-family: "Mitr", sans-serif;
  }
  a{
    background-color: #44ad0f !important;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    font-size: 27px;
    padding: 10px 60px;
    border-radius: 8px;
    display: flex;
    margin: 0 auto;
    box-shadow: 3px 4px 2px 0 #000;
    font-family: 'Montserrat', serif;
    width: fit-content;
    justify-content: center;
    max-width: 100%;
  
    &:hover {
      color: $white;
    }

    @media screen and (max-width: 767px){
      font-size: 16px;
      padding: 10px 20px;
    }
  }
}
.modal.ysp-cart-modal{
  p{
    font-size: 16px;
    // color: #000;
    font-weight: 500;
  }
  ul {
    padding-left: 1.1rem;
    li{
      font-weight: 500;
    }
  }
}

.ysp-cart-modal{
  p{
    color: var(--primary-color);
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 9px;
    text-align: center;
  }
  ul li{
    list-style: none;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 14px;
    svg{
      color: var(--primary-color);
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
  }
}
.includePurchaseModel {
    align-self: center;
    border-radius: 6px;
    border-color: var(--primary-color);
    background: #fff;
    font-size: 14px !important;
    font-weight: 400;
    padding: 4px 15px;
    color: #000 !important;
    border: 1px solid var(--primary-color);
    box-shadow: 0 2px 0 rgba(55, 13, 81, 0.19);
    &:hover, &:active {
        color: #fff !important;
        background: var(--primary-color);
    }
}

.ysp-rewards-link {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1)) !important;
}

.include-purchase-model {
  font-size: 9px;
  font-weight: 600;
}

.cart-canvas{
  .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 776px){
      flex-direction: column;
    }
  }
  .canvas-container{
    canvas {
      width: 100% !important;
      height: 100% !important;
      touch-action: auto !important;
      user-select: all !important;
    }
    canvas.upper-canvas {
      z-index: -1 !important;
    }
  }
  .ant-row{
    .ant-col:first-child:not(:only-child) {
      border-right: 1px solid #e1e1e1;
      @media screen and (max-width: 776px){
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #e1e1e1;
      }
    }
  }
}

.bg-ysp-purple{
  background: var(--primary-color);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  padding: 3px 15px;
  &:hover{
    color: #fff !important;
  }
  svg{
    padding-left: 6px;
    color: #fff;
  }
}

.fit-content{
  color: #fff;
  width: fit-content;
  text-decoration: none;
}

.cart-item-section{
  position: relative;
  .canvas-container{
    canvas{
      touch-action: auto !important;
      user-select: all !important;
    }
    canvas.upper-canvas {
      z-index: -1 !important;
    }
  }
}
.cart-modal-continer{
  .custom-modal-button{
    box-shadow: 3px 4px 2px 0 #000000;
    font-size: 1rem;
    font-family: 'Quicksand', serif;
    font-weight: 500;
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
    border: solid 1px var(--primary-color);
    &:hover{
      background-color: var(--primary-color);
      color: #ffffff;
    }
  }
  
  .close-button{
      background: none;
      outline: none;
      border: none;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      color: #8e8e8e;
      text-shadow: 0 1px 0 #fff;
  }
  input[name="email"]{
    border: solid 1px #CCCCCC;
    border-radius: 3px;
    color: #272727;
    font-family: Quicksand, serif;
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    padding: 0 10px;
    height: 38px;
    padding-right: 35px;
  }
}

.add-sign-container {

  @media screen and (max-width: 991px) {
    display: flex;
    justify-content: center;
  }

  button{
    font-size: 11px;
    box-shadow: 2px 2px 2px #000;
    border-color: var(--primary-color);
    gap: 5px;

    &:hover, &:active {
      color: #fff !important;
      border-color: var(--primary-color) !important;
      background-color: var(--primary-color) !important;

      svg path {
        fill: #fff;
      }
    }
  }
  a {
    color: #000000;

    svg {
      width: 25px;
      height: auto;
      padding-left: 5px;
      padding-bottom: 2px;

      path {
        fill: #000000;
      }
    }
  }

}

.icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  background: inherit;
}

.CartInputGroup{
  width: fit-content;
}

.CartQuantityForm{
  display: flex;
  justify-content: end;
}

.quantity-field{
  vertical-align: middle;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.update-cart-quantity{
  padding: 5px;
  font-size: 13px;
  text-wrap: nowrap;

  &:active, &:hover, &:focus, &:disabled {
    background-color: #fff !important;
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
  }
}

.preview-double-image {
  max-width: 50%;
  height: auto;
}

.preview-single-image {
  max-width: 50%;
  height: auto;
}

.preview-double-image {
  max-width: 50%;
  height: auto;
}

.preview-single-image {
  max-width: 50%;
  height: auto;
}