.checkout-page {

  .form-select:disabled, .form-control:disabled {
      background-color: var(--bs-secondary-bg) !important;
  }

  .card-header {
    legend {
      text-transform: uppercase;
      font-size: 1rem;
      @media only screen and (max-width: 767px) {
        font-size: 14px;
      }
    }
  }

  .shipping-billing-form {
    .flex-column {
      .mb-3 {
        margin: 0 0 10px !important;
      }
    }

    .card-body {
      label {
        text-transform: uppercase;
        font-size: 1rem !important;
        font-weight: 400;
        color: #212529;

        &.error {
          font-weight: 400!important;
          font-size: 13px!important;
        }
      }

      .text-muted.small a {
        color: #0075d5;
      }

      select {
        padding-right: 2rem !important;
      }

      select,
      input[type="text"] {
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 4px;
        // border: 1px solid #bfbfbf;

        &::placeholder {
          opacity: 1;
        }

        &:focus {
          outline: none;
          box-shadow: none;
          // border: solid 1px #82FEBC;
        }
      }

      .btn-copy-address {
        border: 1px solid transparent;
        background-color: #007bff;
        padding: 8px 45px;
        box-shadow: rgb(0 0 0) 3px 4px 2px;
        font-weight: 400;
        color: #ffffff;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
      }
    }
  }

  .discount-for-next-order {
    background-color: #efefef;
    padding: 20px;
    border-radius: 5px;
    margin: 15px 0;
    border: 1px solid #c9c9c9;

    label {
      font-weight: 700;
      @media (max-width: 767px) {
        font-size: 11px;
      }
    }

    p {
      &:nth-child(3) {
        font-size: 8px;
      }

      @media (max-width: 767px) {
        font-size: 8px;
      }
    }

    @media only screen and (max-width: 767px) {
      padding: 2px 10px;
    }
  }

  .payment-methods {
    .card-header {
      .total-amount,
      legend {
        @media (max-width: 767px) {
          font-size: 15px;
        }
        @media (max-width: 560px) {
          font-size: 13px;
        }
      }
    }

    .payment-methods-list {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;

      .payment-method-choice {
        background: #eee;
        padding: 12px 15px;
        margin: 5px;
        @media (max-width: 991px) {
          margin: 4px;
        }
        @media (max-width: 776px) {
          padding: 7px 9px;
        }
      }

      .form-check {
        margin: 0;
      }
    }

    .payment-view {
      margin: 15px 0;

      .payment-message {
        padding: 15px;
        position: relative;
        border: 2px dotted #007cfa;
        font-size: 14px;
        text-align: center;
        color: #007cfa;
        border-radius: 5px;
      }
    }
  }

  .btn-checkout {
    background-color: #44ad0f !important;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    padding: 10px 45px;
    border-radius: 8px;
    display: flex;
    margin: 20px auto;
    box-shadow: 3px 4px 2px 0 #000;
    border: none;
    justify-content: center;
    align-items: center;

    &:hover,
    &:active {
      background-color: #44ad0f !important;
      color: #ffffff;
    }

    @media screen and (max-width: 560px) {
      font-size: 24px;
      padding: 10px 28px;
      margin-bottom: 0;
    }
  }

  .btn-copy-address {
    border: none;
    background-color: #007bff;
    padding: 8px 45px;
    box-shadow: #00000040 2px 2px 4px;
    font-weight: 400;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;

    &:hover,
    &:active {
      background-color: #0062cc;
      color: #ffffff;
    }
  }

  #checkoutAddressModal {
    .modal-dialog {
      max-width: 600px;
    }

    .modal-header,
    .modal-body,
    .modal-footer {
      padding: 1rem 1.5rem;
    }
    
    .modal-header {
      .modal-title {
        font-size: 16px;
        font-weight: 600;
      }
    }

    .modal-body {
      padding-bottom: 0;
      .form-check-label {
        cursor: pointer;
      }

      .address-option {
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 15px;
        transition: all 0.2s ease;

        &:hover {
          border-color: var(--primary-color);
          background-color: #f8f9fa;
        }
      }

      .selected {
          border-color: var(--primary-color) !important;
          background-color: #f8f9fa;
      }

      .form-check-input:checked + .form-check-label {
        .address-option {
          border-color: var(--primary-color);
          background-color: #e3f2fd;
        }
      }

      .form-check-input:checked ~ .address-details {
        border-color: var(--primary-color);
        background-color: #e3f2fd;
      }
    }

    .modal-footer {
      padding-top: 10px;
      .btn-ysp-outline {
        font-size: 14px;
      }
    }
  }

  #addressSection {
    .btn-ysp-outline {
      font-size: 14px;
    }
  }
}

.rewards-ysp-info-icon {
  border: 1px solid var(--primary-color);
  padding: 2px 6px;
  border-radius: 100%;
  font-size: 10px;
  cursor: pointer;
  width: 19px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.order-protection {
  background-color: rgba(0, 0, 0, .03);
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  margin: 15px 0;
  border: 1px solid #c9c9c9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 575px) {
    flex-direction: column;
    justify-content: center;
    padding: 0.75rem 0.25rem;
  }

  .order-protection-info {
    display: flex;
    justify-content: center;
    align-items: center;

    & .order-protection-heading {
      h4 {
        @media screen and (max-width: 767px) {
          font-size: 18px;
        }
        @media screen and (max-width: 575px) {
          font-size: 16px;
        }
      }

      sup {
        top: -0.2em;
        position: relative;
        font-size: 75%;
        line-height: 0;
        vertical-align: baseline;
        font-weight: 600;
        color: #343a40;
        left: 5px;

        & .ysp-info-icon {
          border: 0.09375rem solid var(--primary-color);
          padding: 2px 6px;
          border-radius: 100%;
          font-size: 10px;
          cursor: pointer;
          width: 18px;
          height: 18px;
          display: flex;
          align-items: center;
          justify-content: center;

          & .fa-question {
            color: var(--primary-color);
            font-weight: 900;
          }
        }
      }

      & p {
        font-size: 11px;
      }
    }

    .ysp-logo {
      width: 90px;
      margin-right: 15px;
      @media screen and (max-width: 767px) {
        max-width: 50px;
      }
    }

    h4 {
      margin: 0;
      font-weight: 600;
    }
  }

  .order-protection-action {
    display: flex;
    justify-content: center;
    align-items: center;

    .order-protection-price {
      top: 2px;
      position: relative;
      margin: 0 15px;
    }

    .form-switch {
      .form-check-input {
        height: 25px;
        width: 53px;

        &:before {
          display: block;
          content: "No";
          font-size: 12px;
          color: #bfbfbf;
          right: -28px;
          position: relative;
          top: 3px;
        }

        &:checked {
          border-color: #75d153;
          background-color: #75d153;

          &:before {
            content: "Yes";
            top: 2px;
            right: 0;
            left: 7px;
            color: #fff;
          }
        }
      }
    }
  }
}

.similar-purchased-main-wrapper {
  .ysp-cart-common-sec-title {
    font-size: 25px;
    font-weight: 700;
    display: inline-flex;
    padding: 10px 20px;
    background-color: #efefef;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-family: 'Montserrat', serif;
    line-height: 1.5;

    @media (max-width: 768px) {
      font-size: 16px;
      margin-bottom: 5px;
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      margin-left: 0;
      border: 1px solid var(--primary-color)6b;
    }
  }

  .common-similar-purchased-wrapper {
    border-radius: 8px;
    text-align: center;
    padding: 15px 0 10px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    @media (max-width: 768px) {
      min-height: 330px;
    }

    .img-wrapper {
      height: 190px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding-bottom: 20px;
      }
    }

    .details-wrapper {
      display: flex;
      padding: 0 20px;
      flex-direction: column;

      .details-col-left {
        margin-bottom: 5px;
        min-height: 22px;

        p {
          font-weight: 400;
          font-family: 'Montserrat', serif;
          color: #43484e;
          font-size: 12px;
          margin-bottom: 0;
        }
      }

      &.product-item {
        margin-bottom: 10px !important;

        .product-meta-data {
          font-size: 12px !important;

          .product-min-qty {
            font-size: 12px !important;
          }
        }
      }

      .details-col-right {
        margin-bottom: 5px;

        p {
          color: #2ac473;
          font-size: 15px;
          font-weight: 600;
          font-family: 'Montserrat', serif;
        }
      }
    }

    .customize-btn {
      border: solid 1px var(--primary-color);
      color: #212529;
      height: 36px;
      width: 100%;
      border-radius: 6px;
      font-weight: 500;
      font-size: 14px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      box-shadow: 2px 2px 2px #000;
      padding: 0 20px;
      margin-top: 10px;
      font-family: 'Montserrat', serif;

      &:hover,
      &:focus,
      &:active {
        background-color: var(--primary-color);
        color: #ffffff;
      }
    }
  }

  .people-also-purchased-swiper {
    padding: 0 80px;
    overflow: hidden;
    @media (max-width: 768px) {
      padding: 0 50px;
    }

    .swiper-button-prev, .swiper-button-next {
      background: #393939;
      border-radius: 50%;
      color: #FFF;
      width: 40px;
      height: 40px;

      &:after, &:after {
        font-size: 20px;
      }
    }

    .swiper-slide {
      &.swiper-slide-prev, &.swiper-slide-next {
        display: none;
      }
    }
  }
}
#amazon-pay-button-wrapper {
  position: relative;
}

#amazon-pay-blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
  display: none;
}

#amazon-pay-button-wrapper-checkout {
  position: relative;
}

#amazon-pay-blocker-checkout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
  display: none;
}

.ysp-express-checkout-wrapper {
  border: solid 1px #dee2e6;
  margin: 15px 0 15px;
  position: relative;
  padding: 20px;

  .ysp-checkout-fixed-top-text,
  .ysp-checkout-fixed-bottom-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
    line-height: 100%;
    color: #212529;
    padding: 0 10px;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    font-size: 15px !important;
    font-weight: 600;
    width: auto !important;
    margin: 0;
    font-family: 'Montserrat', serif;
  }

  .ysp-checkout-fixed-top-text {
    top: -9px;
    background: #fff;
    font-size: 25px !important;
    color: #724c98;
    padding: 0;
    @media screen and (max-width: 560px) {
      font-size: 21px !important;
      white-space: nowrap;
    }
  }

  .ysp-checkout-fixed-bottom-text {
    bottom: -9px;
    background: #f9f9f9;
    display: none;
  }

  .ysp-express-payment-methods-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a.common-express-checkout-btn {
      margin-bottom: 20px;
      width: 330px;
      max-width: 100%;
      display: flex;
      box-shadow: 4px 4px 2px 0 #000000;
      border-radius: 3px;
      height: 55px;
      font-family: sans-serif;

      &.checkoutModel {
        padding: 0;
        background-color: #000000;
        display: flex;
        border-radius: 5px;
        font-size: 21px;
        color: #ffffff;
        box-shadow: unset;
        justify-content: center;
        font-weight: 500;
        border: solid 2px #767676;
        align-items: center;

        img {
          width: 18px;
          height: 18px;
          margin-top: 3px;
          margin-right: 3px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .common-express-checkout {
    width: 330px;
    padding-top: 8px;
    @media screen and (max-width: 560px) {
      padding-top: 0px;
      max-width: 100%;
    }
  }

  .checkout-page .ysp-express-checkout-wrapper .ysp-checkout-fixed-top-text {
    font-size: 18px !important;
    color: #724c98;
  }
}

.order-summary {
  .common-express-checkout {
    padding-top: 0;
  }

  .ysp-checkout-fixed-top-text {
    background: #f9f9f9;
    font-size: 15px !important;
    color: #000;
    padding: 0 10px;
  }

  .ysp-checkout-fixed-bottom-text {
    display: block;
    font-size: 15px;
  }
}

.address-descriptions {
  color: #959595;
  font-size: 13px;
  margin-bottom: 5px;

  a {
    color: #007bff;
  }
}

.international-shipping {
  color: #959595;
  font-size: 13px;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .international-shipping-border {
    padding: 10px !important;
    margin-bottom: 2px !important;
  }
}

.international-shipping-border {
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  padding: 10px;
  text-align: justify;
  letter-spacing: 1px;
  color: #959595;
  font-size: 13px;
  margin-bottom: 5px;
}

.international-shipping-border a {
  color: #007bff;
}

.payment-view {
  #payment-form {
    max-width: 400px;
    margin: 0 auto;
  }

  #card-element {
    padding: 10px;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    margin-bottom: 20px;
    .card-title {
      color: #000;
      font-size: 16px;
      margin: 0 10px;
    }
  }

  #card-errors {
    color: #fa755a;
  }

  .card-error {
    font-size: 13px;
    line-height: 1.4;
    margin: 3px 0;
    padding: 0;
  }
}
.stripe-payment {

  margin: 15px;

  .custom-card {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #e1e1e1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    .card-icons {
      text-align: end;
      @media screen and (max-width: 560px) {
        text-align: start;
      }
    }
  }

  .custom-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  /* Input fields styling */
  .custom-input {
    border-radius: 4px;
    padding: 0.75rem;
    font-size: 1rem;
    border-color: #bfbfbf;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  .custom-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }

  /* Label styling */
  .form-label {
    margin-bottom: 0.3rem;
    .label-small {
      color: #b5b5b5;
      font-size: 13px;
      margin-left: 6px;
    }
  }

  /* Error message styling */
  #card-errors {
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.25rem 0;
  }

  /* Fieldset and grid layout for better spacing */
  .row.g-3 {
    margin-bottom: 1rem;
  }

  /* Styling for invalid input fields */
  .is-invalid {
    border: 2px solid #fa755a !important;
    /* Red border for invalid input */
    box-shadow: 0 0 5px rgba(250, 117, 90, 0.5);
    /* Soft red glow */
  }

  /* Error message styling */
  #card-errors {
    color: #fa755a;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
  }


  /* Ensure input fields look consistent */
  @media (max-width: 768px) {
    .custom-card {
      padding: 1rem;
    }

    .custom-input {
      padding: 0.5rem;
    }
  }
}

.request-changes-component {
  .checkout-page {
    .card-header {
      background-color: #fff !important;

      legend,
      label {
        color: #000 !important;
      }
    }

    .card-body {
      background-color: #fff !important;
      border-radius: 10px;

      legend,
      label {
        color: #000 !important;
      }
    }
  }
}

.saved-cards-wrap {
  .saved-cards {
    .saved-card-item {
      cursor: pointer;
    }
    
    .selected {
        background-color: #f8f9fa;
        border-color: var(--primary-color) !important;
    }
  }
}
