.canvas-container {
  margin: auto;
}

input::placeholder, textarea::placeholder {
  color: rgba(0, 0, 0, 0.50) !important;
}

.editor-heading-left{
  position: absolute;
  top: -24px;
  left: 15px;
  z-index: -1;
  width: 150px;
  height: 150px;
  svg{
    width: auto;
    height: auto;
  }
}

.editor-heading {
  position: relative;
  min-height: 80px;

  h1 {
    margin: 0;
  }

  .reviewed-by-wrapper {
    max-width: 280px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .reviewed-by-stamp {
      width: 185px;
      height: auto;
      margin-right: 10px;

      svg {
        width: 100%;
        height: auto;
      }
    }

    .reviewed-by-text {
      font-size: 12px;
      line-height: 112%;
      letter-spacing: 0;
      color: #000000;
    }


    @media (max-width: 720px) {
      &.mobile-only {
        display: inline-block;
      }

      &.desktop-only {
        display: none;
      }
    }
  }

  @media (max-width: 480px) {
    min-height: auto !important;
    h1 {
      font-size: 18px !important;
      padding: 10px 0 !important;;
    }
  }

  @media (max-width: 860px) {
    min-height: auto !important;
    h1 {
      font-size: 26px;
      padding: 10px 0;
    }
  }
  @media (max-width: 992px) {
    h1 {
      font-size: 28px;
    }
  }

  @media (max-width: 1200px) {
    h1 {
      font-size: 28px;
    }
  }
}

#choose-your-design {
  @media screen and (max-width: 860px) {
    .ant-tabs-nav-wrap::after {
      margin-right: -10px !important;
    }
    .ant-tabs-nav-wrap::before {
      margin-left: -10px !important;
    }
  }
}

#choose-your-frame {
  .addon-name{
    font-size: 11px;

    @media screen and (max-width: 1740px) {
      font-size: 10px;
    }
    @media screen and (max-width: 1580px) {
      font-size: 9px;
      margin-right: 10px;
    }
    @media screen and (max-width: 1400px) {
      font-size: 8px;
      margin-right: 15px;
    }
    @media screen and (max-width: 1000px) {
      font-size: 11px;
      margin-right: 10px;
    }
    @media screen and (max-width: 500px) {
      font-size: 7px;
    }
 }
}

#choose-your-flute {
  .addon-name {
    font-size: 11px;

    @media screen and (max-width: 1740px) {
      font-size: 10px;
    }

    @media screen and (max-width: 1580px) {
      font-size: 9px;
      margin-right: 10px;
    }

    @media screen and (max-width: 1400px) {
      font-size: 8px;
      margin-right: 15px;
    }

    @media screen and (max-width: 1000px) {
      font-size: 11px;
      margin-right: 10px;
    }

    @media screen and (max-width: 500px) {
      font-size: 7px;
    }
  }
}

.ant-color-picker {
  z-index: 9999;
}

.ant-popover {
  z-index: 9999;
}

.ant-image-preview-mask {
  background-color: rgb(0 0 0 / 80%) !important;
}

.ant-image-preview-img-wrapper {
  img {
    border: 2px solid #1e1e1e;
  }
}

@media (max-width: 991px) {
  .ant-tabs-nav-operations {
    display: none !important;
  }
}

@media screen and (min-width: 992px) {
  .ant-col-lg-5 {
    display: block;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.page-header {
  position: relative;
  font-family: "Montserrat", serif;

  .nav-tabs {
    padding: 0 5px;
    border: none;
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
    font-size: 14px;

    @media screen and (max-width: 1024px) {
      &::after {
        content: ">";
        right: 0;
        font-size: 20px;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        position: absolute;
        background-color: #fff;
        width: 30px;
      }

      &.tab-scroll-arrow {
        &::before {
          content: "<";
          left: 0;
          font-size: 20px;
          color: #000;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          position: absolute;
          background-color: #fff;
          width: 30px;
        }

        &::after {
          display: none;
        }
      }
    }

    .nav-link {
      border-color: #f3f3f7;
      border-width: 3px;
      border-radius: 5px 5px 0 0;
      margin-right: 2px;
      background: #fff;
      color: #000;
      padding: 8px 16px;
      white-space: nowrap;
      border-bottom-width: 0;
      @media (max-width: 480px) {
        font-size: 12px;
        padding: 5px 10px;
      }

      &:last-child {
        cursor: pointer !important;
        border: none;
      }

      &.active {
        background: #f3f3f7;
        font-weight: 600 !important;

        .tab-green {
          font-weight: 600 !important;
        }
      }

      .new-tag {
        background: #03A74F;
        padding: 5px 13px !important;
        color: #FFF;
        border-radius: 7px;
        text-transform: uppercase;
        font-size: 13px;
        display: inline-block;
        font-weight: 500;
        margin-right: 8px;
        height: auto;
        @media (max-width: 480px) {
          padding: 1px 5px !important;
          font-size: 10px;
        }
      }

      .tab-green {
        color: #03a74f;
        font-weight: 500;
      }
    }
  }

  .tab-content {
    background: #f3f3f7;

    .tab-pane {
      padding: 10px 10px 0 10px;


      @media (max-width: 480px) {
        padding: 5px 5px 0 5px;
      }
    }

    .btn-ysp-outline {
      background: $white;
      border: solid 1px var(--primary-color);
      color: $dark;
      text-transform: capitalize;
      margin-bottom: 10px;
      padding: 4px 15px;
      font-size: 15px !important;
      font-weight: 500;
      box-shadow: 1px 1px 2px $primaryColorLight;

      &:hover {
        color: $white;
        background: $primaryColor;

      }
    }

    .sdpl-container {
      background-color: #f0e6e5;
      padding: 15px;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      @media (max-width: 480px) {
        flex-direction: column;
      }

      .sdpl-highlight {
        font-size: 17px;
        color: #cf5b28;
        text-transform: uppercase;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #e5b9a7;
        padding-right: 20px;

        @media (max-width: 480px) {
          border-right: none;
        }

        img {
          padding: 0 15px;
        }

        div {
          @media (max-width: 480px) {
            text-align: center;
          }

          p {
            margin: 0;
          }
        }
      }


      .sdpl-info {
        font-size: 21px;
        color: #4c4c4d;
        margin-left: 25px;
        @media (max-width: 480px) {
          font-size: 12px;
          text-align: center;
        }
      }
    }

    .product-description {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      max-height: 193px;
      overflow-y: auto;
      font-size: 14px;
      p {
        margin-bottom: 5px;
      }
      h2 {
        font-size: 18px;
        margin: 20px 0 10px;
      }
      @media (max-width: 480px) {
        font-size: 12px;
        h2 {
          font-size: 14px;
          margin: 10px 0 5px;
        }
      }
    }

    .reviews-container {
      height: auto;
      overflow: auto;
      max-height: 205px;
    }

    .digital-proof-container {
      border: dashed 1px #d8d8d8;
      padding: 8px 15px;
      background-color: #eff2f8;
      border-radius: 2px;
      font-size: 13px;
      text-align: center;
      @media (max-width: 480px) {
        font-size: 12px;
      }

      p {
        margin: 0;
      }
    }

    .repeat-order-container {
      @media (max-width: 480px) {
        padding-top: 5px;
      }
      
      .repeat-form {
        display: flex;
        justify-content: center;
        align-items: end;

        #editor-enterOrderId {
          border-radius: 6px;
          padding: 4px 10px;
          font-size: 14px;
          font-weight: 400;
        }

        button {
          @media (max-width: 480px) {
            margin-bottom: 10px !important;
          }
        }
      }

      .repeat-info {
        border: dashed 1px #d8d8d8;
        padding: 8px 15px;
        background-color: #eff2f8;
        border-radius: 2px;
        font-size: 13px;
        text-align: center;
        @media (max-width: 480px) {
          font-size: 12px;
        }

        p {
          width: 50%;
          margin: auto;
          margin-bottom: 0;

          @media screen and (max-width: 767px) {
            width: 100%;
          }
        }
      }
    }

    .order-sample-container {
      font-size: 13px;
      text-align: center;

      p {
        margin-bottom: 5px;
      }

      .order-sample-info {
        @media (max-width: 480px) {
          padding-bottom: 10px !important;
        }
      }
    }

    .customer-photos-container {
      max-height: 190px;
      width: 100%;
      margin: 0 auto;
      padding: 0;
      overflow-y: auto;

      .customer-photo {
        img, video {
          width: 100% !important;
          height: 150px !important;
          object-fit: cover;
        }
      }
    }

    .faqs-container {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      max-height: 190px;
      overflow-y: auto;

      .faq-groups {
        margin-bottom: 15px;

        h4 {
          font-size: 18px;
          margin-bottom: 10px;
          @media (max-width: 480px) {
            font-size: 16px;
          }
        }

        .accordion-item {
          h2 {
            margin-bottom: 0;

            button {
              position: relative;
              display: flex;
              flex-wrap: nowrap;
              padding: 12px 16px;
              font-size: 14px;
              background: #eeeef2;
              align-items: center;

              @media (max-width: 480px) {
                padding: 7px;
                font-size: 12px;
              }

              &:active, &:focus, &:hover {
                color: #000;
              }

              &:focus {
                border-color: transparent;
                box-shadow: none;
              }

              &::before {
                flex-shrink: 0;
                margin-right: 5px;
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox='64 64 896 896' focusable='false' data-icon='right' width='1em' height='1em' fill='currentColor' aria-hidden='true'%3E%3Cpath d='M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z'%3E%3C/path%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: 12px;
                transition: var(--bs-accordion-btn-icon-transition);
                width: 12px;
                height: 12px;
              }

              &:not(.collapsed)::before {
                transition: var(--bs-accordion-btn-icon-transition);
                background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox='64 64 896 896' focusable='false' data-icon='right' width='1em' height='1em' fill='currentColor' aria-hidden='true' style='transform: rotate(90deg)%3B'%3E%3Cpath d='M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z'%3E%3C/path%3E%3C/svg%3E");
              }

              &::after {
                display: none;
              }
            }
          }
        }

        .accordion-body {
          @media (max-width: 480px) {
            padding: 5px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.bulk-order-request-modal{
  .ant-modal-wrap {
    z-index: 20000000000 !important;
  }
}
.ant-picker-dropdown{
  z-index: 20000000001 !important;
}