.new-arrivals-section {

  .product-section-heading {
    width: fit-content;
    background: $primaryColor;
    padding: 10px 20px;
    border-radius: 40px;
    color: $white;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 19px;
    box-shadow: 3px 3px 3px #d4d4d4;
    margin-bottom: 10px;
    transition: background 0.2s ease, box-shadow 0.2s ease;

    @media screen and (max-width: 560px) {
      padding: 8px 15px;
      font-size: 16px;
    }
  }

  .text-ysp {
    color: var(--primary-color) !important;
  }

  .card {
    border: 1px solid #dee2e6;
    border-radius: 4px;
    transition: box-shadow 0.2s ease;

    ul {
      border: 1px solid transparent !important;

      .list-group-item {
        padding: 0;
        line-height: 1;
      }
    }

    &:hover .card-body .position-relative {
      border-bottom: 1px solid transparent !important;
    }

    .list-group.list-group-flush {

      .product-price,
      .product-min-qty {
        font-size: 13px;
      }
    }

    .card-body {
      padding: 0;

      .position-relative {
        border-bottom: 1px solid #dee2e6;
        transition: border 0.2s ease;

        .card-text {
          margin: 5px 0 0 !important;
        }

        @media screen and (max-width: 560px) {
          height: 115px;

          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }

      h3.card-text {
        line-height: 1.5;
        font-size: 14px;
        font-weight: $defaultFontWeight;
        color: $dark;

        @media (max-width: 900px) {
          font-size: 13px;
        }

        @media (max-width: 560px) {
          font-size: 13px;
          margin: 5px 0 8px;
          height: auto;
          max-width: 100%;
        }
      }
    }

    .card-button {
      background: none;
      border: 1px solid transparent;
      padding: 10px 5px 0;

      .btn-customize-now {
        color: #fff !important;
        background-color: var(--primary-color);
        width: calc(100% - 30px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        margin: 6px auto 15px;
        box-shadow: 3px 4px 2px #000;
        transition: all .15s ease-in-out;

        &:hover {
          background-color: #fff;
          border-color: var(--primary-color);
          color: var(--primary-color) !important;
        }

        @media screen and (max-width: 560px) {
          font-size: 13px;
          padding: 4px;
          width: 100%;
          box-shadow: 1px 1px 4px #000;
        }
      }
    }
  }
}

.new-arrivals-main-wrapper {
  .product-section-heading {
    width: fit-content;
    background: $primaryColor;
    padding: 10px 20px;
    border-radius: 40px;
    color: $white;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 19px;
    box-shadow: 3px 3px 3px #d4d4d4;
    margin-bottom: 10px;
    cursor: pointer;

    &:not(.no-hover):hover,
    &:not(.no-hover):focus {
      background: $primaryColorLight;
      box-shadow: 3px 3px 3px #b0afaf;
    }

    @media screen and (max-width: 560px) {
      padding: 8px 15px;
      font-size: 16px;
    }
  }

  .common-new-arrivals-wrapper {
    border-radius: 8px;
    text-align: center;
    padding: 15px 0 10px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;

    @media (max-width: 768px) {
      min-height: 330px;
    }

    .img-wrapper {
      height: 190px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding-bottom: 20px;
      }
    }

    .details-wrapper {
      display: flex;
      padding: 0 20px;
      flex-direction: column;

      .details-col-left {
        margin-bottom: 5px;
        min-height: 22px;

        p {
          font-weight: 400;
          font-family: 'Montserrat', serif;
          color: #43484e;
          font-size: 12px;
          margin-bottom: 0;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      &.product-item {
        margin-bottom: 10px !important;

        .product-meta-data {
          font-size: 12px !important;

          .product-min-qty {
            font-size: 12px !important;
          }
        }
      }

      .details-col-right {
        margin-bottom: 5px;

        p {
          color: #2ac473;
          font-size: 15px;
          font-weight: 600;
          font-family: 'Montserrat', serif;
        }
      }
    }

    .customize-btn {
      border: solid 1px var(--primary-color);
      color: #212529;
      height: 36px;
      width: 100%;
      border-radius: 6px;
      font-weight: 500;
      font-size: 14px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      box-shadow: 2px 2px 2px #000;
      padding: 0 20px;
      margin-top: 10px;
      font-family: 'Montserrat', serif;

      &:hover,
      &:focus,
      &:active {
        background-color: var(--primary-color);
        color: #ffffff;
      }
    }
  }

  .new-arrivals-swiper {
    padding: 0 80px;
    overflow: hidden;

    @media (max-width: 768px) {
      padding: 0 50px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      background: #393939;
      border-radius: 50%;
      color: #FFF;
      width: 40px;
      height: 40px;

      &:after,
      &:after {
        font-size: 20px;
      }
    }

    .swiper-slide {

      &.swiper-slide-prev,
      &.swiper-slide-next {
        display: none;
      }
    }
  }
}