
.order-conformation{

    .col-12.col-md-9{
        @media screen and (max-width: 560px) {
            .lead{
                font-size: 15px;
            }
            span{
                font-size: 80%;
            }
        }    
    }
    
    .request-changes-component{
        .card-body{
            background-color: #343a40;
            legend,
            label{
                color: #fff;
            }
            textarea{
                height: 220px;
            }
        }
    }
    .alert-success{
        background-color: #d4edda;
        border: 1px solid #c3e6cb;
        color: #155724;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }
    .table{
        color: #212529;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }
    .table-bordered th {
        font-weight: bold;
    }
    .small.text-muted.d-block{
        margin-top: 5px;
        font-size: 80%;
        font-weight: 400;
        color: #6c757d !important;
    }
 
    .table-bordered td,
    .table-bordered th {
        // padding: 0.75rem;
        vertical-align: top;
        background: none;
        @media screen and (max-width: 560px){
            font-size: 13px;
            // padding: 0.25rem;
        }
    }
    .text-center.mt-3 a{
        color: #0075d5;
    }
    .justify-content-around.w-auto{
        .btn-info{
            background: #17a2b8;
            border-color: #17a2b8;
            color: #fff;
            svg{
                color: #fff !important;
            }
        }
    }
   
    .proofs_approval{
        #proofsAccordion{
            .accordion-item{
                .accordion-header{
                    button{
                        border-radius: 0 !important;
                        small{
                            font-size: 1rem !important; 
                        }
                        .text-small{
                            font-size: 80% !important;
                        }
                    }
                }
            }
            .accordion-button.d-block{
                background: #F7F7F7;
                border-bottom: 1px solid #dee2e6;
                &:focus{
                    box-shadow: none;
                }
            }
        }
        .accordion-header{
            .bg-success{
                background: #28a745 !important;
            }
            button {
                small span{
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
            }
        }
        .accordion-collapse{
            .btn-info{
                border-color: #17a2b8;
                background: #17a2b8;
                color: #fff;
                display: flex;
                justify-content: flex-start;
                width: fit-content;
                @media (max-width: 776px) {
                   margin: auto;
                }
            }
        }
    }
   
    .accordion-body{
        p{
            margin-bottom: 0;
        }
    }

    @media (min-width: 1200px){
        width: 1140px;
        max-width: 100%;
    }
    #update-address{
        width: 50% !important;
        @media (max-width: 667px){
            width: 92% !important;
        }
      
       .offcanvas-body{
        padding: 0 0 10px 0;
       }
       .address-updated-sidebar{
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
       }
       .card{
        legend{
            text-transform: uppercase;
        }
       }
       .card-body{
        label{
            text-transform: uppercase;
        }
        select,
        input{
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            color: #495057;
            border: 1px solid #bfbfbf;
            height: 44px;
            border-radius: 0;
            &:focus,
            &:active{
                outline: none;
                box-shadow: none;
                border: solid 1px #82FEBC;
            }
        }
       }
    }
    .actions{
        .btn.btn-info{
            color: #fff;
            background-color: #17a2b8;
            border-color: #17a2b8;
        }
        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }
    
    &.order-details{
        .subtotal-row,
        .addon-badges{
            display: none;
        }
        @media only screen and (max-width: 560px){
            .alert-warning {
                font-size: 13px;
            }
        }
    }

    @media only screen and (max-width: 560px){
        .order-info{
            font-size: 16px;
        }
        .alert{
            line-height: 1.4;
            font-size: 14px;
        }
    }

    .paypal-extra-info {
        border: 2px solid var(--primary-color);
        border-radius: 10px;
        padding: 5px;
        width: 80%;

        .form-group {
            display: flex;
            justify-content: center;
            @media screen and (max-width: 767px){
                flex-direction: column;
            }
        }
        .text-heading {
            font-size: x-large;
            font-weight: 500;
        }

        label {
            font-size: 18px;
        }
        @media screen and (max-width: 767px){
            padding: 15px;
            width: 100%;
        }
    }
}

#productDetailsAccordion1 .proof-custom-badges,
.order-conformation .proof-custom-badges{
    font-size: 9px;
    padding: 2px 5px;
    border-radius: 4px;
    margin:0 5px 0px 5px;
    @media only screen and (max-width: 560px){
        margin-bottom: 5px;
    }
   
}

.approved-form{
    #addressTabContent{
        border: 1px solid rgba(0,0,0,.125);
        padding: 0 10px 15px;
        .text-small{
            font-size: 13px;
        }
        label{
            text-transform: uppercase;
        }
        select,
        input{
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .copy-address-button {
            button{
                background: #0d6efd !important;
                border: 1px solid #0d6efd;
            }
        }
    }
    #addressTab{
        .nav-link{
            color: #aaa;
        }
        .nav-link.active{
            color: #000;
        }
    }
}
.repeat-order{
    p a{
       color: #0075d5;
    }
    button {
        font-size: 14px;
        a{
            color: #fff;
        }
    }
    .modal-dialog{
        .modal-body{
            p{
                font-size: 16px;
                a{
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.proof-button-container{
    margin-top: 0.5rem;
    .text-center{
        #request_changes_submit{
            color: #fff;
            background-color: #e3211b;
            border-color: #c70000;
            border-radius: 0.3rem;
            @media only screen and (max-width: 576px) {
                width: 100%;
                font-size: 15px;
            }
        }
        @media only screen and (max-width: 576px) {
            width: 100%;
        }
    }
    .btn-success.btn-lg{
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
        border-radius: 0.3rem;
        @media only screen and (max-width: 720px) {
            width: 100%;
            font-size: 15px;
            margin-bottom: 0.5rem;
        }
    }
    @media only screen and (max-width: 767px) {
        flex-direction: column;
        a,
        button{
            width: 100%;
            font-size: 15px;
            border-radius: 4px;
        }
    }
}


.proof-table-product-details {
	width: 500px;
	@media screen and (max-width: 480px) {
		width: 170px;
	}
}

.order-proof-approve-popover{
    max-width: 340px !important;
    .popover-body {
       padding: 10px;
    }  
}

.btn-info-v2{
    border-color: #17a2b8;
    background: #17a2b8;
    color: #fff;
    width: fit-content;

    &:hover{
        background-color: #17a2b8 !important;
        color: #fff !important;
    }
    &:active{
        background-color: #17a2b8 !important;
        color: #fff !important;
    }
    &:focus{
        background-color: #17a2b8 !important;
        color: #fff !important;
    }
    @media (max-width: 776px) {
        margin: auto;
    }
}
