.product-block {
  margin: 0;
  padding: 0 12px;

  .product-block-title {
    width: fit-content;
    background: $primaryColor;
    padding: 10px 20px;
    border-radius: 40px;
    color: $white;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 19px;
    box-shadow: 3px 3px 3px #d4d4d4;
    margin-bottom: 10px;
    cursor: pointer;

    &:not(.no-hover):hover, &:not(.no-hover):focus {
      background: $primaryColorLight;
      box-shadow: 3px 3px 3px #b0afaf;
    }

    @media screen and (max-width: 560px) {
      padding: 8px 15px;
      font-size: 16px;
    }
  }
  .product-block-title.disable-select {
    user-select: none;
    pointer-events: none;
    &:hover, &:focus {
      background: $primaryColor;
    }
  }
}

.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
  @media (max-width: 1080px) {
    padding: 0 5px;
  }
  @media (max-width: 560px) {
    margin-bottom: 10px;
  }

  @media (max-width: 1080px) {
    &.item-18x12::after,
    &.item-24x18::after {
      right: 5px;
    }
  }

  &.custom-product {
    .card {
        h4 {
          margin: 0 10px 10px 10px;
        }
        @media (max-width: 3060px) {
          .home-page-product-image {
            height: 360px;
          }
        }
        @media (max-width: 2460px) {
          .home-page-product-image {
            height: 280px;
          }
        }
        @media (max-width: 2000px) {
          .home-page-product-image {
            height: 230px;
          }
        }
        @media (max-width: 1800px) {
          .home-page-product-image {
            height: 200px;
          }
        }
        @media (max-width: 1440px) {
          .product-meta-data {
            font-size: 13px;
            .product-min-qty {
              font-size: 10px;
            }
            .product-rating-count {
              font-size: 11px;
            }
          }
        }
        @media (max-width: 990px) {
          .home-page-product-image {
            height: 165px;
          }
        }
        @media (max-width: 820px) {
          h4 {
            margin: 5px 0;
            font-size: 10px;
          }
        }
        @media (max-width: 556px) {
          .home-page-product-image {
            height: auto;
          }
          .view-more{
            object-fit: contain;
            height: 140px;
            margin-top: 0px;
          }
        }
    }
  }

  .card {
    box-shadow: none;
    cursor: pointer;
    border: 1px solid $white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;

    &.home-page-card {
      border-color: #d4d4d4;
    }

    &:hover {
      box-shadow: 3px 3px 6px var(--primary-color)47;
      border: 1px solid;
      border-color: var(--primary-color) !important;
    }

    .home-page-product-image {
      width: 100%;
      height: 275px;
      object-fit: cover;
      vertical-align: middle;
      @media (max-width: 3060px) {
        height: 510px;
      }
      @media (max-width: 2460px) {
        height: 410px;
      }
      @media (max-width: 2000px) {
        height: 310px;
      }
      @media (max-width: 1800px) {
        height: 300px;
      }
      @media (max-width: 1600px) {
        height: 275px;
      }
      @media (max-width: 1080px) {
        height: 240px;
      }
      @media (max-width: 820px) {
        height: 210px;
      }
      @media (max-width: 768px) {
        height: 275px;
      }
      @media (max-width: 667px) {
        height: 250px;
      }
      @media (max-width: 560px) {
        height: auto;
      }
      @media (max-width: 556px) {
        height: 160px;
      }
      @media (max-width: 446px) {
        height: auto;
        object-fit: contain;
      }
    }

    .card-body {
      @media (max-width: 560px) {
        padding: 10px 0;
      }
    }
  }

  &.more-product-item {
    .home-page-product-image {
      width: auto;
    }
  }

  .product-image {
    width: auto;
    height: 184px;
    @media (max-width: 560px) {
      object-fit: contain;
      height: 150px;
    }
  }

  h4 {
    margin: 15px 0;
    line-height: 1.5;

    &.card-text {
      font-size: 14px;
      font-weight: $defaultFontWeight;
      color: $dark;
      @media (max-width: 900px) {
        font-size: 13px;
      }
      @media (max-width: 560px) {
        max-width: 100%;
        font-size: 13px;
        height: auto;
        margin: 5px 0 8px;
      }
    }
  }

  .product-meta-data {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $defaultFontSize;
    @media (max-width: 560px) {
      font-size: 10px;
    }

    > div {
      padding: 0 2px;
      @media (max-width: 560px) {
        padding: 0 1px;
      }
    }

    .product-price {
      color: #1C824C;
      font-weight: 600;
      @media (max-width: 560px) {
        font-size: 12px;
      }
      @media screen and (max-width: 1344px) {
        font-size: 12px;
      }
    }

    .product-min-qty {
      font-size: 13px;
      font-style: italic;

      @media (max-width: 900px) {
        font-size: 13px;
      }
      @media (max-width: 776px) {
        font-size: 13px;
      }
      @media (max-width: 560px) {
        font-size: 9px;
      }
    }

    .product-rating-count {
      font-size: 12px;

      @media (max-width: 900px) {
        font-size: 10px;
      }
      @media (max-width: 560px) {
        font-size: 10px;
      }
    }

    .product-rating-star {
      display: flex;
      padding: 0 1px;

      svg {
        fill: $yellow;
        stroke: $yellow;
        width: 11px;
        height: 11px;

        @media (max-width: 900px) {
          font-size: 10px;
        }
        @media (max-width: 560px) {
          width: 8px;
          height: 8px;
        }
      }
    }
  }

  &.more-product-item {
    .home-page-product-image {
      height: 285px;
      margin: 0 auto;
      padding-top: 20px;
      @media screen and (max-width: 1080px) {
        height: 270px;
      }
      @media screen and (max-width: 1080px) {
        height: 260px;
      }
      @media screen and (max-width: 900px) {
        height: 250px;
      }
      @media screen and (max-width: 827px) {
        height: 225px;
        margin-top: 5px;
      }
      @media screen and (max-width: 768px) {
        height: 230px;
        margin-top: 25px;
      }
      @media screen and (max-width: 556px) {
        object-fit: contain;
        height: 140px;
        margin-top: 0px;
      }
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .product-image {
        // width: fit-content;
        margin-bottom: 20px;
      }

      .btn {
        font-size: 12px;
        border-radius: 10px;
        border-color: $primaryColor;
        background: $white;
        color: $dark;
        font-weight: 500;
      }
    }

    &:hover {
      .card-body {
        .btn {
          background-color: $primaryColor;
          border-color: $primaryColor;
          color: $white;
        }
      }
    }
  }
}

.view-all-product {
  .btn-ysp-outline {
    background: #ffffff;
    border: solid 1px var(--primary-color);
    letter-spacing: 0;
    color: #1c202b;
    font-weight: 600;
    box-shadow: 2px 3px 2px #000;
    font-size: 13px;
    font-family: "Montserrat", serif;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-transform: uppercase;
    transition: 0.15s ease-in-out;

    &:hover, &:focus, &:active {
      background: var(--primary-color);
      color: #fff;
    }
  }
}
