#referralModal{
.referral-modal {
  border-radius: 6px;
  border: 1px solid #ddd;
  font-family: Arial, Helvetica, sans-serif;

  .referral-header {
    position: relative;
    padding: 20px 24px 10px;
    border-bottom: none;
     border-bottom: 1px solid #dee2e6;
    .modal-title {
      font-size: 19px;
      font-weight: 500;
      color: #564f4f;
      margin-bottom: 6px; 
    }
  }

  .modal-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
    margin: 0;

    strong {
      font-weight: 600;
      color: #333;
    }
   
  }

  .custom-close {
    position: absolute;
    top: 18px;
    right: 18px;
  }

  .modal-body {
    padding: 8px 24px 8px;

    .ref-label {
      font-size: 16px;
      font-weight: 400;
      color: #333;
      margin-bottom: 6px;
    }

    .referral-link-group {
      max-width: 85%;
      margin: 0 auto 12px;
      gap: 6px;

      .ref-input {
        height: 44px;
        font-size: 14px;
        border: 1px solid #bdbdbd;
        border-radius: 4px;
        padding: 10px 12px;

        &::placeholder {
          color: #999;
        }
      }

      .referral-link-input {
        height: 44px;
        font-size: 14px;
        border: 1px solid #6f4c9e;
        border-right: 1px solid #6f4c9e;
        border-radius: 4px 0 0 4px;
        padding: 10px 12px;
        background-color: #e9ecef;
      }

      .referral-copy-btn {
        height: 44px;
        padding: 0 18px;
        font-size: 14px;
        font-weight: 600;
        background: #fff;
        color: #6f4c9e;
        border: 1px solid #6f4c9e;
        border-left: 1px solid #6f4c9e;
        border-radius: 4px;
        white-space: nowrap;

        &:hover {
          background: #6f4c9e;
          color: #fff;
        }
      }
    }

    .recaptcha-container {
      width: 85%;
      margin: 18px auto 14px;
    }

    .referral-submit {
      display: block;
      margin: 7px auto;
      padding: 10px 26px;
      font-size: 14px;
      font-weight: 600;
      background: #fff;
      color: #1b1a1aff;
      border-radius: 4px;
      border: 1px solid #6f4c9e;

      &:hover {
        background: #6f4c9e;
        color: #fff;
      }
    }

    .terms-conditions {
      margin-top: 14px;
      font-size: 0.9rem;
      color: #666;
      text-align: center;

      a {
        color: #1a73e8;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .error,
  .invalid-feedback,
  .form-error-message {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #d93025; 
    margin-top: 4px;
    line-height: 1.3;
  }

  input.is-invalid,
  input.error {
    border-color: #d93025 !important;
    box-shadow: none;
  }

  .invalid-feedback {
    margin-bottom: 0;
  }
}
}