.repeat-info {
    border: 1px dashed;
    padding: 5px;
    font-size: 13px;
    background-color: #eff2f8;

    p {
        margin: 0;
    }

}

.form-group-submit button {
    background-color: #fff !important;
    border: 1px solid var(--primary-color) !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    box-shadow: 2px 2px 2px #000;
    padding: 5px 45px !important;

    &:hover, &:active {
        color: #fff !important;
        border-color: var(--primary-color) !important;
        background-color: var(--primary-color) !important;
    }
}