
.choose-category-list {

    .product-block{
        padding: 0;

        #customer-photos-slider{
            border-bottom: none;

            .search-customer-image{
                min-width: 170px;

                img, video{
                    max-height: 140px;
                }
            }
        }
        .product-list.card-group{
            padding: 0 10px;
            .product-item {
                padding: 0px 3px;
            }
        }
        .card{
            border: 1px solid #dee2e6;
            border-radius: 4px;
            ul{
                border: 1px solid transparent !important;
                .list-group-item{
                    padding: 0;
                    line-height: 1;
                }
             }
            &:hover .card-body .postion-relative{
                border-bottom: 1px solid transparent !important;
            }
            .list-group.list-group-flush{
                .product-price,
                .product-min-qty {
                    font-size: 13px;
                }
            }
            .card-body{
                padding: 0;
               
                .postion-relative{
                    border-bottom: 1px solid #dee2e6;
                    .card-text{
                        margin: 5px 0 0px !important;
                    }
                    @media screen and (max-width: 560px) {
                        height: 115px;
                       
                        img{
                            height: 100%;
                        }
                    }
                }
                h3 {
                    line-height: 1.5;

                    &.card-text {
                        font-size: 14px;
                        font-weight: $defaultFontWeight;
                        color: $dark;

                        @media (max-width: 900px) {
                            font-size: 13px;
                        }

                        @media (max-width: 560px) {
                            max-width: 100%;
                            font-size: 13px;
                            height: auto;
                            margin: 5px 0 8px;
                        }
                    }
                }
            }
            .card-button{
                background: none;
                border: 1px solid transparent;
                padding: 10px 5px 0;
                .btn-customize-now{
                    color: #ffffff !important;
                    background-color: var(--primary-color);
                    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                    width: calc(100% - 30px);
                    box-shadow: 3px 4px 2px 0 #000;
                    padding: 0.375rem 0.75rem;
                    font-size: 1rem;
                    line-height: 1.5;
                    border-radius: 0.25rem;
                    margin-bottom: 15px;
                    margin-top: 6px;
                    &:hover{
                        background-color: var(--primary-color);
                        border: 1px solid var(--primary-color);
                    }
                    @media screen and (max-width: 560px) {
                        font-size: 13px;
                        padding: 4px;
                        box-shadow: 1px 1px 4px 0 #000;
                        width: 100%;
                    }
                }
            }
        }
    }
    .badge.badge-success.ysp-badge-success {
        color: #fff;
        background-color: #28a745;
        display: inline-block;
        padding: 0.25em 0.4em;
        font-size: 83%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
        margin-right: 4px;
        font-family: 'Montserrat', serif;
    }

    #yspAccordionSidebar {
        position: sticky;
        top: 15px;
        z-index: 99;
       
        .accordion-item {
            border: solid 1px var(--primary-color);
            margin-bottom: 8px;
            border-radius: 5px;

            .accordion-header {
                .accordion-button {
                    background-color: var(--primary-color);
                    color: #ffffff;
                    text-transform: uppercase;
                    margin: 0;
                    border-radius: 0;
                    font-weight: 400;
                    font-family: 'Montserrat', serif;
                    display: flex;
                    justify-content: center;
                    font-size: 15px;
                    height: 38px;
                    &:after {
                        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
                    }
                }
            }
        }
        @media screen and (max-width: 1180px) {
            width: 70%;
            margin: auto;
        }
        @media screen and (max-width: 567px) {
            width: 100%;
        }
    }

    #yspAccordionNewArrivalsSidebar {
        position: sticky;
        top: 15px;
        z-index: 99;

        .accordion-item {
            border: solid 1px var(--primary-color);
            margin-bottom: 8px;
            border-radius: 5px;

            .accordion-header {
                .accordion-button {
                    background-color: var(--primary-color);
                    color: #ffffff;
                    text-transform: uppercase;
                    margin: 0;
                    border-radius: 0;
                    font-weight: 400;
                    font-family: 'Montserrat', serif;
                    display: flex;
                    justify-content: center;
                    font-size: 15px;
                    height: 38px;

                    &:after {
                        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
                    }
                }
            }
        }

        @media screen and (max-width: 1180px) {
            width: 70%;
            margin: auto;
        }

        @media screen and (max-width: 567px) {
            width: 100%;
        }
    }
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    #loader img {
        animation: rotate 2s linear infinite;
    }
}

/* Root selector for the entire stylesheet */
.ysp-product-styles-sidebar-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    max-height: 70vh;

    .form-check {
        padding-left: 28px;
    }

    .sidebar-title {
        font-size: 26px;
        letter-spacing: 0.32px;
        color: #272727;
        font-weight: 500;
        margin: 0;
    }

    .select-all-btn {
        width: auto;
        height: 32px;
        background-color: #1C824C;
        border: solid 1px #1C824C;
        font-weight: 400;
        color: #ffffff;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-bottom: 15px;
        transition: 0.2s ease-in-out;
        font-family: 'Montserrat', serif;
        padding: 0.25rem 0.5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: 0.2rem;

        &:hover,
        &:focus,
        &:active {
            background-color: #175e38;
            color: #ffffff;
        }
        @media screen and (max-width: 991px) {
            width: fit-content;
        }
    }

    .ysp-divider {
        border-bottom: solid 1px #707070;
        margin: 25px 0 20px;
    }

    .list-menu-wrapper {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 5px;
            justify-content: flex-start;
            display: flex;
            align-items: center;

            .ysp-checkbox {
                display: flex;
                position: relative;
                margin-bottom: 0;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                font-size: 0.9rem;
                font-weight: 400;
                line-height: 1.5;
                color: #212529;
                font-family: 'Montserrat', serif;

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }

                &:hover input~.checkmark {
                    background-color: #ccc;
                }

                input:checked~.checkmark {
                    background-color: var(--primary-color) !important;
                    border: solid 1px var(--primary-color);
                }

                .checkmark {
                    position: relative;
                    top: 0;
                    left: 0;
                    height: 16px;
                    width: 16px;
                    background-color: transparent !important;
                    border: solid 1px rgb(118, 118, 118);
                    border-radius: 2px;

                    &:after {
                        content: "";
                        position: absolute;
                        left: 5px;
                        top: 2px;
                        width: 5px;
                        height: 10px;
                        border: solid white;
                        border-width: 0 2px 2px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }

                .label {
                    padding-left: 5px;
                }
            }
        }
    }
    .navbar-expand-xl{
        fieldset{
            margin-bottom: 0 !important;
        }
    }
}

.ysp-no-result-wrapper {
    .search-div {
        justify-content: center;
    }

    .no-result-text-wrapper {
        .title {
            line-height: 1.5;
            color: #212529;
            font-weight: 800;
            font-size: 32px;
        }

        .desc {
            font-size: 19px;
            font-weight: 500;
            color: #43484e;
        }

        .contact-us {
            color: var(--primary-color);

            a {
                font-size: 25px;
                font-weight: 600;
                color: var(--primary-color);
            }
        }
    }
}

.btn-customize-now {
    border: solid 1px var(--primary-color);
    color: #212529;
    height: 36px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px #000;
    padding: 0 20px;
    margin-top: 10px;
    font-family: 'Montserrat', serif;

    &:hover,
    &:focus,
    &:active {
        background-color: var(--primary-color);
        color: #ffffff;
    }
}

.pages-with-filtertab{
    .product-block{
        margin: 10px 0 !important;
    }
    .info-text{
        font-size: 16px !important;
        @media screen and (max-width: 767px) {
            font-size: 13px !important;
        }
    }
}

.compact-table {
    .ant-table-thead > tr > th {
        padding: 4px !important;
        font-size: 12px;
    }
    .ant-table-tbody > tr > td {
        padding: 4px !important;
        font-size: 12px;
    }
    .ant-table-tbody > tr > td > div {
        padding: 4px !important;
    }
}

.ant-btn-link-custom {
    color: #1677ff;
    font-size: 14px;
    line-height: 1.5714285714285714;
    height: 32px;
    padding: 4px 15px;
    border-radius: 6px;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    user-select: none;
    text-transform: none;
    font-family: 'Montserrat', serif;
    text-decoration: none;
}

.shop-product-custom-popover {
    .popover-body {
        padding: 12px;
        font-family: 'Montserrat', serif;
        .popover-content {
            thead {
                tr {
                    th {
                        border-top-left-radius: 4px !important;
                        border-top-right-radius: 4px !important;
                        padding: 4px !important;
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.88);
                        font-weight: 600;
                        text-align: start;
                        background: #fafafa;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 4px !important;
                        font-size: 10px;
                        color: rgba(0, 0, 0, 0.88);
                        font-size: 12px;
                        line-height: 1.5714285714285714;
                        list-style: none;
                        font-family: 'Montserrat', serif;
                    }
                }
            }
        }
    }
}

.custom-badge-super-rush {
    background-color: var(--light-color);
    color: var(--primary-color);
}