<a href="{{ moreUrl }}" class="card home-page-card">
    <img width="133" height="265" loading="lazy" class="card-img-top home-page-product-image view-more" src="{{ storeInfo.isPromoStore ? 'https://static.yardsignplus.com/storage/promo-store/Product-Icon-Arrow-Sign.webp' : 'https://static.yardsignplus.com/fit-in/300x500/product_20221011-e41592d0-4957-11ed-b323-57c4fba49bc7.png'}}"  alt="...">
    <div class="card-body">
        <button class="btn btn-primary">View More</button>
    </div>
</a>