{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block pageTitle %}
    <div class="page-header-icon">
        <i class="fas fa-dashboard"></i>
    </div>
    Dashboard
{% endblock %}

{% block body %}
    <div class="card shadow-none">
        <div class="card-header">Example Card</div>
        <div class="card-body">This is a blank page. You can use this page as a boilerplate for creating new pages!
        </div>
    </div>
{% endblock %}
