<div {{ attributes }} class="d-flex align-items-center me-1">
    <label class="d-flex align-items-center me-2">
        $
        <input
            id="laborCost_{{ dailyCogsReport.id }}"
            class="form-control shadow-none p-1 border-0"
            name="laborCost"
            data-model="laborCost"
            placeholder="Labor Cost"
            data-live-action-param="debounce(300)|save"
            data-action="live#action"
            value="{{ laborCost }}"
        />
    </label>
    <div class="d-inline-block">
        <div class="spinner-border spinner-border-sm text-primary" 
            role="status" 
            data-loading="action(save)|show" 
            style="display: none; width: 1rem; height: 1rem;">
        </div>
    </div>
</div>
