<tr>
    <td colspan="3" style="padding: 0 60px 15px;" class="ys-mob-ryt-lft-pad15">
        <p class="ysp-small-mob-temp-text" style="margin: 20px 0 15px;color: #6c757d;font-size: 12px;font-weight: normal;line-height: 135%;font-style: italic;">Please contact us if you have any questions regarding your order.
            We are available 24 hours a day, 7 days a week via live chat,
            call, and email.
        </p>
    </td>
</tr>