<a href="{{ url('category', {slug: category.slug}) }}" class="card">
    <div class="card-body">
        <img class="product-image" src="https://static.yardsignplus.com/product_20221011-e41592d0-4957-11ed-b323-57c4fba49bc7.png" alt="...">
        <button class="btn btn-primary">View More</button>
    </div>
</a>