<div class="page-container">
    <div class="padding-box-y">
        <p class="text-order-id">
            <span class="text-purple text-arial-black">Order ID:</span>
            <span class="order-id">{{ order.orderId }}</span>
        </p>
        <p class="text-template-title">
            <span class="text-purple text-arial-black">Custom {{ templateTitle }} Sign</span>
        </p>
    </div>
</div>