<footer>
    <div class="footer-wrap">
        <div class="page-container">
            <hr class="footer-divider">
            <p class="text-purple text-avenir-next-condensed-boldi-talic">Once approved we strictly follow this proof during production. all orders are made proportionally to the preview. colors may slightly vary on the final product including repeat orders. colors may slightly vary between different sized signs due to different machines required to produce. repeat orders must include old order number on proof. please allow up to 1 inch along borders to ensure your customizations are printed within the sign. sizes are subject to nominal differences, up to 1 inch.</p>
        </div>
    </div>
</footer>