{% set storeInfo = storeInfo() %}
<header class="header-section">
    <div class="header-content mb-3">
        <div class="page-container">
            <div class="logo">
                <img  width="60px" src="{{storeInfo.storeYardLogo }}" alt="Logo">
            </div>
            <div class="header-title">
                <h1 class="text-arial-black">Outdoor yard signs proof</h1>
            </div>
        </div>
    </div>
</header>