{% if relatedPosts | length > 0 %}
<div class="accordion-item pb-2">
    <h2 class="accordion-header" id="headingRelatedPostsYardSigns">
        <button class="accordion-button collapsed" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseRelatedPostsYardSigns">
            Related Posts
        </button>
    </h2>

    <div id="collapseRelatedPostsYardSigns"
         class="accordion-collapse collapse"
         data-bs-parent="#blogSidebarAccordion">
        <div class="accordion-body p-0">
            <ul class="list-group list-group-flush related-posts">
                {% for post in relatedPosts %}
                    <li class="list-group-item d-flex align-items-center ms-2">
                        <span class="related-posts-radio-bullet"></span>
                        <a href="{{ path('blog_post', { slug: post.slug }) }}"
                           class="text-decoration-none d-block">
                           <span class="post-title">{{ post.title }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
