<div class="card sidebar">
    <div class="card-body">
        <div class="accordion widget" id="blogSidebarAccordion">
            {{ include('blog/_widget_yardsigns.html.twig') }}
            {{ include('blog/_widget_related_post.html.twig') }}
            {{ include('blog/_widget_categories.html.twig') }}
        </div>
    </div>
</div>