{% extends 'admin/base.html.twig' %}

{% block title %}Edit PayPal Invoice{% endblock %}
{% block pageTitle %}
    <div class="page-header-icon">
        <i class="fas fa-dashboard"></i>
    </div>
   Edit PayPal Invoice
{% endblock %}

{% block body %}
    <div class="card card-header-actions mx-auto shadow-none">
        <div class="card-header">
           Invoice Details
            <div>
                <a href="{{ url('admin_invoice_paypal') }}" class="btn btn-light btn-sm">
                    <i class="fas fa-arrow-left me-2"></i>
                    List
                </a>
            </div>
        </div>
        <div class="card-body">
            {{ component('UpdatePaypalInvoiceForm',{
                invoiceData: invoiceData
            }) }}
        </div>
    </div>

{% endblock %}
