<div class="row ">
    <div class="col-lg-12 mb-4 text-center no-items-available">
        No items are available. Please call <a href="tel:+1-877-958-1499">+1-877-958-1499</a> or email
        <a href="mailto:{{storeInfo.storeEmail}}" class="text-primary">{{storeInfo.storeEmail}}</a>
        for questions.
    </div>
</div>