<section class="common-sec-horizontal-pad">
    <div class="container-fluid">
        <div class="empty-cart-container pb-4">
            <h5 class="text-center">Shopping Cart - Your Cart is Empty</h5>
            <div class="text-center p-4">
                <a href="{{ url('homepage') }}" class="btn btn-success text-center" id="continue_shopping">Continue Shopping</a>
            </div>
        </div>
    </div>
</section>