<div class="col-xl-12 col-sm-12">
	<div class="container-fluid mt-0 mb-0 my-sm-3 ysp-no-result-wrapper">
		<div class="row search-div">
			<div class="col-12 col-md-10">
				<div class="no-result-text-wrapper text-center">
					<h1 class="text-center text-uppercase mb-4 title">No Results</h1>
					<h4 class="desc">We did not find any results matching with your search query. Please try again or call us anytime at</h4>
					<h3 class="contact-us">
						<a href="tel: +1-877-958-1499">+1-877-958-1499</a>
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>
