<div class="d-xl-none">
    <p class="order-online-text d-flex justify-content-center align-items-center">
        {{ commonBarText }} <a aria-label="phone" href="tel:{{ commonBarTele }}">&nbsp; {{ commonBarTele }}</a>
    </p>
</div>