<div class=" select-template-to-fully-customize common-sec-horizontal-pad">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="pay-latter-text-wrapper ysp-template-custom-text">
					<div class="custom-mock-wrap">
						<h2 class="right-text d-sm-block text-custom">Create Your Own Custom Outdoor Yard Sign! Select Any Template to Fully Customize!</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
