<div class="tab-content step5tabcontents">
    <input type="hidden" class="file_option" name="option[1]">
    <div class="tab-pane active" id="uploadtab" style="padding:0;">
        <span class="fileUploadProgressMessage" id="fileUploadProgressMessage">
            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0"
                 aria-valuemax="100" aria-label="progress bar"></div>
        </span>
        <div class="custom-file ysp-common-input-file-wrapper" style="z-index: 0">
            <button class="custom-file-input" id="customFile" data-bs-toggle="modal"
                    data-bs-target="#photoModal"></button>
            <label class="" id="custom-file-label" for="customFile">
                <svg xmlns="http://www.w3.org/2000/svg" width="382" height="132.278" viewBox="0 0 382 132.278">
                    <g id="Group_124" data-name="Group 124" transform="translate(-3212.638 -2230.663)">
                        <g id="Grupo_112" data-name="Grupo 112" transform="translate(3249.318 2266.45)">
                            <g id="Trazado_247" data-name="Trazado 247" transform="translate(0 38.132)">
                                <path id="Path_247" data-name="Path 247"
                                      d="M3303.089,2373.289l-27.863,1.086a3.406,3.406,0,0,1-4.039-3.38,3.882,3.882,0,0,1,.073-.72q.777-7.635,1.557-15.267a4.71,4.71,0,0,1,4.34-4.139,3.559,3.559,0,0,1,2.52.809,3,3,0,0,1,1.125,2.449c-.007.714-.1,1.44-.166,2.161q-.452,4.684-.915,9.367c-.072.737-.072.737.662.708l42.009-1.644c1.585-.062,3.172-.143,4.753-.175.476-.01.627-.123.661-.615q.362-5.574.789-11.152a4.5,4.5,0,0,1,4.179-4.12,3.769,3.769,0,0,1,1.667.281,3.241,3.241,0,0,1,2.123,3.4q-.465,7.875-1.052,15.754a4.454,4.454,0,0,1-4.155,4.1c-.092.006-.184.007-.276.006Q3317.094,2372.748,3303.089,2373.289Z"
                                      transform="translate(-3271.187 -2348.653)" fill="#fff"/>
                            </g>
                            <g id="Trazado_248" data-name="Trazado 248" transform="translate(15.854 0)">
                                <path id="Path_248" data-name="Path 248"
                                      d="M3312.78,2301.485a1.163,1.163,0,0,0-.518.379q-4.61,4.395-9.249,8.794a4.141,4.141,0,0,1-4.042,1.181,3.1,3.1,0,0,1-2.441-2.785,4.311,4.311,0,0,1,1.52-3.8q7.4-7.02,14.729-14.048c.732-.7,1.459-1.41,2.2-2.1a3.86,3.86,0,0,1,5.443-.357c.033.033.066.068.1.1q7.156,7.511,14.367,15.06a4.182,4.182,0,0,1-5.988,5.758h0c-2.632-2.7-5.227-5.433-7.827-8.149a.715.715,0,0,0-.451-.327l-.054.638q-1.2,14.4-2.4,28.8a4.582,4.582,0,0,1-4.166,4.223,3.409,3.409,0,0,1-3.822-3.377c0-.3.027-.612.054-.917q1.239-14.213,2.49-28.423Z"
                                      transform="translate(-3296.492 -2287.786)" fill="#fff"/>
                            </g>
                        </g>
                        <g id="ADD_A_PHOTO" data-name="ADD A PHOTO" transform="translate(3343.077 2274.474)"
                           style="mix-blend-mode: normal;isolation: isolate">
                            <g id="Group_121" data-name="Group 121" style="mix-blend-mode: normal;isolation: isolate">
                                <g id="Group_112" data-name="Group 112" transform="translate(0 8.375)">
                                    <path id="Path_249" data-name="Path 249"
                                          d="M3434.5,2318.549l-10.591,18.667a2.431,2.431,0,0,1-.75.876,1.8,1.8,0,0,1-.976.343,1.233,1.233,0,0,1-1.1-.379,1.343,1.343,0,0,1-.21-1.059,1.962,1.962,0,0,1,.188-.548l11.986-21.262a2.261,2.261,0,0,1,.807-.913,1.864,1.864,0,0,1,1.055-.312,1.466,1.466,0,0,1,.948.267,1.345,1.345,0,0,1,.518.826l5.4,20.266a1.69,1.69,0,0,1,.031.676,2.081,2.081,0,0,1-1.874,1.733,1.294,1.294,0,0,1-.894-.286,1.468,1.468,0,0,1-.5-.81l-4.937-17.983Zm-8.463,13.775,2.055-3.332,9.716-.385.073,3.247Z"
                                          transform="translate(-3420.844 -2313.961)" fill="#fff"/>
                                </g>
                                <g id="Group_113" data-name="Group 113" transform="translate(24.296 7.555)">
                                    <path id="Path_250" data-name="Path 250"
                                          d="M3473.23,2312.662a8.821,8.821,0,0,1,4.266.762,6.914,6.914,0,0,1,2.8,2.462,9.172,9.172,0,0,1,1.361,3.737,15.153,15.153,0,0,1-.063,4.556,17.352,17.352,0,0,1-2.106,6.059,13.23,13.23,0,0,1-4.106,4.445,11.093,11.093,0,0,1-5.88,1.824l-8.377.334a1.354,1.354,0,0,1-1.479-1.667l3.181-20.371a2.152,2.152,0,0,1,2.021-1.807Zm-3.556,20.59a7.29,7.29,0,0,0,4.118-1.349,9,9,0,0,0,2.723-3.239,14.412,14.412,0,0,0,1.377-4.337,12.97,12.97,0,0,0,.115-3.254,6.941,6.941,0,0,0-.8-2.728,4.583,4.583,0,0,0-1.831-1.823,5.711,5.711,0,0,0-3-.574l-6.489.257.351-.284-2.8,17.918-.153-.333Z"
                                          transform="translate(-3459.625 -2312.652)" fill="#fff"/>
                                </g>
                                <g id="Group_114" data-name="Group 114" transform="translate(48.876 6.579)">
                                    <path id="Path_251" data-name="Path 251"
                                          d="M3512.465,2311.1a8.815,8.815,0,0,1,4.266.762,6.919,6.919,0,0,1,2.806,2.462,9.187,9.187,0,0,1,1.361,3.737,15.183,15.183,0,0,1-.063,4.555,17.364,17.364,0,0,1-2.106,6.059,13.236,13.236,0,0,1-4.105,4.446,11.1,11.1,0,0,1-5.88,1.824l-8.378.332a1.355,1.355,0,0,1-1.479-1.667l3.182-20.371a2.151,2.151,0,0,1,2.021-1.806Zm-3.556,20.59a7.293,7.293,0,0,0,4.117-1.35,8.98,8.98,0,0,0,2.724-3.239,14.431,14.431,0,0,0,1.376-4.337,12.986,12.986,0,0,0,.116-3.254,6.966,6.966,0,0,0-.8-2.728,4.574,4.574,0,0,0-1.831-1.823,5.7,5.7,0,0,0-3-.575l-6.489.258.352-.284-2.8,17.917-.152-.332Z"
                                          transform="translate(-3498.86 -2311.094)" fill="#fff"/>
                                </g>
                                <g id="Group_115" data-name="Group 115" transform="translate(80.712 5.171)">
                                    <path id="Path_252" data-name="Path 252"
                                          d="M3563.329,2313.434l-10.591,18.667a2.418,2.418,0,0,1-.75.875,1.8,1.8,0,0,1-.976.345,1.233,1.233,0,0,1-1.1-.38,1.333,1.333,0,0,1-.209-1.058,1.972,1.972,0,0,1,.187-.549l11.986-21.262a2.261,2.261,0,0,1,.809-.912,1.868,1.868,0,0,1,1.055-.312,1.472,1.472,0,0,1,.948.266,1.339,1.339,0,0,1,.518.826l5.4,20.267a1.7,1.7,0,0,1,.032.676,2.083,2.083,0,0,1-1.875,1.734,1.3,1.3,0,0,1-.894-.286,1.468,1.468,0,0,1-.505-.81l-4.937-17.983Zm-8.463,13.775,2.056-3.331,9.716-.386.073,3.248Z"
                                          transform="translate(-3549.677 -2308.846)" fill="#fff"/>
                                </g>
                                <g id="Group_116" data-name="Group 116" transform="translate(114.55 3.994)">
                                    <path id="Path_253" data-name="Path 253"
                                          d="M3616.848,2306.974a5.277,5.277,0,0,1,5.272,3.38,6.942,6.942,0,0,1,.337,3.744,9,9,0,0,1-1.51,3.767,9.871,9.871,0,0,1-2.892,2.789,7.092,7.092,0,0,1-3.522,1.138l-6.626.263.354-.521-1.218,7.8a2.14,2.14,0,0,1-.657,1.262,1.935,1.935,0,0,1-1.3.542,1.272,1.272,0,0,1-1.107-.447,1.49,1.49,0,0,1-.27-1.225l3.181-20.371a2.152,2.152,0,0,1,2.021-1.807Zm-1.8,11.547a3.078,3.078,0,0,0,1.722-.643,5.682,5.682,0,0,0,1.44-1.581,5.386,5.386,0,0,0,.783-2.062,4.177,4.177,0,0,0-.14-2.06,3.181,3.181,0,0,0-.97-1.434,2.22,2.22,0,0,0-1.543-.5l-6.7.266.418-.49-1.436,9.2-.24-.431Z"
                                          transform="translate(-3603.688 -2306.968)" fill="#fff"/>
                                </g>
                                <g id="Group_117" data-name="Group 117" transform="translate(135.184 2.875)">
                                    <path id="Path_254" data-name="Path 254"
                                          d="M3641.956,2305.8a1.438,1.438,0,0,1,1.142.446,1.364,1.364,0,0,1,.338,1.222l-3.181,20.371a2.186,2.186,0,0,1-.759,1.265,2.158,2.158,0,0,1-1.332.543,1.341,1.341,0,0,1-1.513-1.666l3.181-20.371a2.046,2.046,0,0,1,.709-1.264A2.229,2.229,0,0,1,3641.956,2305.8Zm-1.722,10.157,15.655-.621-.551,3.306-15.655.621Zm17.206-10.771a1.441,1.441,0,0,1,1.228.442,1.458,1.458,0,0,1,.287,1.224l-3.182,20.37a2.075,2.075,0,0,1-.692,1.263,2.159,2.159,0,0,1-1.4.546,1.422,1.422,0,0,1-1.158-.445,1.386,1.386,0,0,1-.321-1.223l3.18-20.371a2.018,2.018,0,0,1,.727-1.264A2.15,2.15,0,0,1,3657.44,2305.184Z"
                                          transform="translate(-3636.625 -2305.182)" fill="#fff"/>
                                </g>
                                <g id="Group_118" data-name="Group 118" transform="translate(159.966 1.826)">
                                    <path id="Path_255" data-name="Path 255"
                                          d="M3699.6,2315.32a15.231,15.231,0,0,1-1.611,4.854,15.507,15.507,0,0,1-3.029,4,14.564,14.564,0,0,1-4.1,2.753,12.915,12.915,0,0,1-4.815,1.122,10.2,10.2,0,0,1-4.506-.751,8.471,8.471,0,0,1-3.266-2.461,9.284,9.284,0,0,1-1.812-3.8,12.532,12.532,0,0,1-.1-4.787,15.239,15.239,0,0,1,1.611-4.855,15.57,15.57,0,0,1,3.03-4,14.671,14.671,0,0,1,4.08-2.752,12.773,12.773,0,0,1,4.8-1.122,10.292,10.292,0,0,1,4.523.752,8.453,8.453,0,0,1,3.284,2.458,9.287,9.287,0,0,1,1.811,3.8A12.506,12.506,0,0,1,3699.6,2315.32Zm-3.708.147a8.958,8.958,0,0,0-.322-4.489,6.135,6.135,0,0,0-2.3-3.056,6.312,6.312,0,0,0-3.921-1,8.561,8.561,0,0,0-4.266,1.321,10.429,10.429,0,0,0-3.273,3.261,11.718,11.718,0,0,0-1.707,4.588,9.24,9.24,0,0,0,.289,4.491,5.9,5.9,0,0,0,2.287,3.057,6.316,6.316,0,0,0,3.9,1,8.516,8.516,0,0,0,4.283-1.321,10.814,10.814,0,0,0,3.292-3.279A11.46,11.46,0,0,0,3695.895,2315.467Z"
                                          transform="translate(-3676.182 -2303.508)" fill="#fff"/>
                                </g>
                                <g id="Group_119" data-name="Group 119" transform="translate(186.792 0.952)">
                                    <path id="Path_256" data-name="Path 256"
                                          d="M3720.518,2306a1.492,1.492,0,0,1-1.164-.411,1.258,1.258,0,0,1-.332-1.155,1.863,1.863,0,0,1,.7-1.212,2.195,2.195,0,0,1,1.305-.493l15.586-.619a1.485,1.485,0,0,1,1.182.411,1.284,1.284,0,0,1,.314,1.155,1.882,1.882,0,0,1-.683,1.212,2.168,2.168,0,0,1-1.323.492Zm4.581,20.265a1.545,1.545,0,0,1-1.262-.44,1.392,1.392,0,0,1-.32-1.223l3.186-20.405,3.707-.146-3.186,20.4a2.028,2.028,0,0,1-.725,1.264A2.255,2.255,0,0,1,3725.1,2326.27Z"
                                          transform="translate(-3719 -2302.113)" fill="#fff"/>
                                </g>
                                <g id="Group_120" data-name="Group 120" transform="translate(205.97)">
                                    <path id="Path_257" data-name="Path 257"
                                          d="M3773.034,2312.4a15.225,15.225,0,0,1-1.611,4.855,15.551,15.551,0,0,1-3.029,4,14.583,14.583,0,0,1-4.1,2.753,12.924,12.924,0,0,1-4.815,1.122,10.2,10.2,0,0,1-4.505-.752,8.467,8.467,0,0,1-3.267-2.46,9.292,9.292,0,0,1-1.812-3.8,12.511,12.511,0,0,1-.105-4.786,15.232,15.232,0,0,1,1.611-4.855,15.6,15.6,0,0,1,3.03-4,14.69,14.69,0,0,1,4.08-2.752,12.763,12.763,0,0,1,4.8-1.121,10.29,10.29,0,0,1,4.522.751,8.451,8.451,0,0,1,3.284,2.458,9.3,9.3,0,0,1,1.811,3.8A12.518,12.518,0,0,1,3773.034,2312.4Zm-3.708.148a8.969,8.969,0,0,0-.322-4.489,6.134,6.134,0,0,0-2.3-3.057,6.31,6.31,0,0,0-3.921-1,8.552,8.552,0,0,0-4.267,1.321,10.448,10.448,0,0,0-3.273,3.261,11.727,11.727,0,0,0-1.706,4.588,9.251,9.251,0,0,0,.289,4.491,5.9,5.9,0,0,0,2.287,3.057,6.324,6.324,0,0,0,3.9,1,8.516,8.516,0,0,0,4.283-1.322,10.815,10.815,0,0,0,3.292-3.278A11.458,11.458,0,0,0,3769.327,2312.552Z"
                                          transform="translate(-3749.613 -2300.593)" fill="#fff"/>
                                </g>
                            </g>
                        </g>
                        <g id="Group_443" data-name="Group 443">
                            <g id="Group_122" data-name="Group 122" transform="translate(3212.638 2252.177)">
                                <path id="Path_258" data-name="Path 258"
                                      d="M3219.444,2375.767l-6.806-109.936,15.692-.825a3.759,3.759,0,0,1,.394,7.508l-8.115.428,5.868,94.773,222.3-16.248a3.759,3.759,0,0,1,.548,7.5Z"
                                      transform="translate(-3212.638 -2265.003)" fill="#94c8ac"/>
                            </g>
                            <g id="Group_123" data-name="Group 123" transform="translate(3323.754 2230.663)">
                                <path id="Path_259" data-name="Path 259"
                                      d="M3630.081,2334.108a3.759,3.759,0,0,1-.35-7.5l23.154-2.189-5.844-85.815-253.062,14.819a3.759,3.759,0,0,1-.44-7.5l260.5-15.254,6.85,100.551-30.446,2.878C3630.319,2334.1,3630.2,2334.108,3630.081,2334.108Z"
                                      transform="translate(-3390 -2230.663)" fill="#94c8ac"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </label>
        </div>
    </div>
    <div class="uploaded_files"></div>
</div> <!-- tab upload end-->
<div class="tab-pane container fade" id="helptab" style="padding:0;"></div> <!-- tab help end -->
<div class="tab-pane container fade" id="latertab" style="padding:0;"></div> <!-- tab later end-->

<div class="modal fade ysp-common-modal" id="photoModal" data-bs-backdrop="no" data-bs-keyboard="false"

     tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="photoModalLabel">ADD A PHOTO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{ include('common/flash.html.twig') }}
            <div class="modal-body text-dark py-0">
                {{ include('default/_add_a_photo.html.twig') }}
            </div>
        </div>
    </div>
</div>
