{{ include('common/topbar.html.twig') }}
{{ include('common/brandbar.html.twig') }}
{{ include('common/navbar.html.twig') }}
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
    {{ include('common/_offcanvas.html.twig') }}
</div>