<div class="ysp-pay-later-wrapper common-sec-horizontal-pad ysp-bg-primary ysp-sec-pad-small">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="pay-latter-text-wrapper">
                    <div class="pay-latter-text-left-wrapper">
                        <span class="left-text">PAY LATER</span>
                        <span class="text-like-topnav">NO OBLIGATION TO ORDER</span>
                    </div>
                    <div class="pay-latter-text-right-wrapper">
                        <span class="right-text d-none d-sm-block">Select  this at checkout to pay after you are satisfied with your proof</span>
                        <span class="right-text d-block d-sm-none">Pay after you are satisfied with your proof! NO OBLIGATION TO ORDER</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>