<div class="upload-shop-design-wrapper banner-below-title d-flex justify-content-center align-items-center text-center">
    <div class="upload-customer-moc">
        <div class="text-center w-100">
            <h2>Upload Custom Designs</h2>
        </div>
        <div>
            <a href="{{ url('custom_yard_sign_editor', {variant: '24x18'}) }}" class="btn-outline-theme shop-now-btn ms-3"> ORDER NOW</a>
        </div>
    </div>
    <div class="middle-line">
        <span class="line1"></span>
        <div class="text-width-circule"></div>
    </div>

    <div class="browser-all-design">
        <div class="text-center w-100">
            <h2 class="ml-2">Browse All Designs</h2>
        </div>
        <div>
            <a href="{{ url('category_shop',{c: allCategoriesCommaSeparated}) }}" class="btn-outline-theme shop-now-btn ms-3">SHOP NOW</a>
        </div>
    </div>
</div>