{% set customUrl = url('editor', {
	category: 'custom-signs',
	productType: 'yard-sign',
	sku: 'CUSTOM',
	variant: '24x18'
}) %}
<div class="common-sec-horizontal-pad upload-custom-text-wrapper d-flex">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<p class="shop-upload-mockup-text">UPLOAD YOUR CUSTOM DESIGN
					<a class="view-more-btn shop-order-now-btn" href="{{ customUrl }}">
						Order Now</a>
					<span>or Choose from</span>&nbsp;HUNDREDS OF DESIGNS</p>
			</div>
		</div>
	</div>
</div>

