<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        {% block title %}
            Yard Sign Promo
        {% endblock %}
    </title>
    <style>
        @media screen and (max-width: 767px) {
            .common-logo-icon {
                width: 110px !important;
            }
            .btn-shop-now {
                font-size: 18px !important;
            }
            .off-desc-small {
                font-size: 13px !important;
                color: #000000 !important;
                margin: 15px 0 15px !important;
            }
            .ys-mob-ryt-lft-pad15 {
                padding: 0 15px !important;
            }
            .ys-mob-desc-paragraph {
                padding: 0 15px 15px !important;
            }
            .off-desc {
                margin-top: 10px !important;
            }
            .ysp-common-btn-sm {
                font-size: 26px !important;
                padding: 15px 12px !important;
            }

            .ysp-border-mob {
                border: solid 2px #83c59c !important;
            }

            .ysp-border-bottom-mob {
                border-bottom: solid 2px #83c59c !important;
            }

            .ysp-border-right-mob {
                border-right: solid 2px #83c59c !important;
            }

            .ysp-border-top-mob {
                border-top: solid 2px #83c59c !important;
            }

            .ysp-border-left-mob {
                border-left: solid 2px #83c59c !important;
            }

            table tr td.odd,
            table tr td p.odd,
            table tr td.even,
            table tr td p.even {
                font-size: 10px !important;
            }

            .contact-us-title {
                font-size: 20px !important;
            }
            .font-sm-17,
            .proof-approve-info
            .ysp-common-ft-title {
                font-size: 17px !important;
            }

            .ysp-ft-mb-mob {
                margin-bottom: 8px !important;
            }
            .user-name{
                font-size:18px !important;
            }
            .req-change .view-order-button{
                font-size: 22px !important;
                padding: 12px !important;
            }
            .proof-instruction{
                padding: 0 !important;
            }
           
            .oredr-id{
                width: 50%;
            }
            .email{
                width:45px;
            }

            .payment-request .order-arrive-date-info,
            .payment-request .order-arrive-info,
            .req-change .order-arrive-date-info,
            .req-change .order-arrive-info{
                font-size:18px !important;
            }

            .request-recevie-info{
                font-size:16px !important;
                font-weight: bold;
            }

            /* payment request */
            .payment-request .ys-mob-ryt-lft-pad15{
                font-size:15px !important;
                padding: 0 10px !important;
            }
            .payment-request .ysp-common-btn-sm{
                font-size: 21px !important;
                padding: 15px 42px !important;
            }
            .payment-request table tr td p.odd,
            .payment-request table tr td p.even,
            .payment-request table tr td.odd,
            .payment-request table tr td.even{
                font-size: 9px !important;
            }
            .payment-request .ys-mob-desc-paragraph p{
                font-size: 7px !important;
            }
            .order-cancelled-email .ys-mob-ryt-lft-pad15,
            .order-cancelled-email .user-name{
                font-size: 12px !important;
                text-align: left !important;
                padding: 0 !important;
                margin: 10px 0 5px !important;
            }
        }
    </style>
</head>
<body>

<table style="width: 100%; max-width: 950px;margin: auto;text-align: center;font-family: sans-serif;background-color: #ffffff;">
    <tr>
        <td colspan="3" style="text-align: center;background-color: #25549b ;padding: 20px 0;">
            <a href="https://www.yardsignpromo.com/">
            <img src="https://static.yardsignplus.com/assets/logo-white-6941171f4b68f898242867.png" alt="Yard Sign Promo"  class="common-logo-icon" style="width: 160px;max-width: 100%;" />
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding-bottom: 2px !important;text-align: center;font-weight: bold;color: '#25549b';border-bottom: solid 7px #83c59c;padding: 0px 20px;">
            {% block subject %}
                Thank you for your interest in Yard Sign Promo Store products.
            {% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan="3">
            {% block body %}
                Email Content
            {% endblock %}
        </td>
    </tr>
    <tr>
        <td style="width: 100%">
            <table style="width: 100%;border-spacing: 0;">
                <tr>
                    <td style="text-align: left;vertical-align: bottom;width: 33.333%;">
                        <img src="https://static.yardsignplus.com/assets/ysp-ft-left-banner.png" alt=""  style="max-width: 100%;width: 200px;" />
                    </td>
                    <td style="text-align: center;vertical-align: bottom;width: 33.333%; contact-us-footer">

                        <p style="margin: 0;color: #83c59c;font-size: 23px;font-weight: bold;margin-bottom: 10px;">CONTACT US</p>
                        <p style="margin: 0;color: #000000;font-size: 14px;font-weight: bold;margin-bottom: 4px;">Yard Sign Promo</p>
                        <p style="display: table;margin: 0 auto 4px;">
                            <img src="https://static.yardsignplus.com/storage/promo-store/Promo-Call.webp" alt="" style="  width: 11px;display: table-cell;vertical-align: middle;height: auto;" />
                            <a href="tel:+1-877-958-1499" style="color: #000000 !important;font-size: 14px;font-weight: bold;
            text-decoration: none;line-height: 100%;display: table-cell;vertical-align: middle;padding-left: 3px;">+1-877-958-1499</a></p>
                        <p style="display: table;margin: 0 auto 4px;">
                            <img src="https://static.yardsignplus.com/storage/promo-store/Promo-Email.webp" alt="" style="width: 13px;display: table-cell;vertical-align: middle;height: auto;
            margin-top: 2px;" />
            <a href="mailto:sales@yardsignpromo.com"  style="color: #000000 !important;font-size: 14px;font-weight: bold;
            text-decoration: none;line-height: 100%;display: table-cell;vertical-align: middle;padding-left: 3px;">sales@yardsignpromo.com</a></p>

                        <p style="display: table;margin: 0 auto 20px;">
                            <img src="https://static.yardsignplus.com/storage/promo-store/Promo-Gloab.webp" alt="" style=" width: 13px;display: table-cell;vertical-align: middle;height: auto;" />
                            <a href="https://local.yardsignpromo.com/" style="color: #000000 !important;font-size: 14px;font-weight: bold;
            text-decoration: none;line-height: 100%;display: table-cell;vertical-align: middle;padding-left: 3px;">yardsignpromo.com</a></p>
                        {% if show_unsubscribe_link is defined and show_unsubscribe_link and user_email is defined and user_email is not empty %}
                            <p style="display: table;margin: 0 auto 20px;">
                                <a href="{{ url('unsubscribe_user', { email: user_email }) }}" style="color: #a5a5a5 !important;font-size: 12px; text-decoration: none; line-height: 100%;display: table-cell;vertical-align: middle;padding-left: 3px;" target="_blank">Unsubscribe</a>
                            </p>
                        {% endif %}
                    </td>
                    <td style="text-align: right;vertical-align: bottom;width: 33.333%;">
                        <img src="https://static.yardsignplus.com/assets/ysp-ft-right-banner.png" alt="" style="max-width: 100%;width: 200px;" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
