{% extends 'emails/base.html.twig' %}
{% block title %}Reset Password{% endblock %}
{% block subject %}Reset Password{% endblock %}
{% block body %}
    <tr>
        <td colspan="3">
            <p style="font-size: 26px; font-weight: bold; color: #000000; padding: 0 50px; margin: 20px 0 10px;"
               class="user-name">
                Hi {{ user.name ?? user.userIdentifier }}
            </p>
            <p class="off-desc ys-mob-ryt-lft-pad15"
               style="font-size: 17px; color: #000000; padding: 0 50px; line-height: 135%; margin: 0 0 20px;">
                We received a request to change your password. You can do this by clicking the link below
            </p>
        </td>
    </tr>
    <tr>
        <td>
            {% set linkToReset = userType == 'admin' ? url('admin_reset_password', {token: user.getResetToken()}) : url('reset_password', {token: user.getResetToken()})  %}
            <a href="{{ linkToReset }}" class="ysp-common-btn-sm" style="background-color: #28a745;color: #fff;font-size: 22px;text-transform: uppercase;text-decoration: none;padding: 20px;display: inline-block;font-weight: normal;border-radius: 10px;margin: 0px 0px 25px 0px;" target="_blank">
                Change my Password
            </a>
        </td>
    </tr>
{% endblock %}