{% extends 'emails/base.html.twig' %}
{% block title %}Thank you for subscribing{% endblock %}
{% block body %}
    <tr>
        <td colspan="3">
            <p class="off-desc ys-mob-ryt-lft-pad15"
               style="font-size: 17px; color: #000000; padding: 0 50px; line-height: 135%; margin: 0 0 20px;">
                Thank you for subscribing to our newsletter.<br/>
                We will keep you updated with ongoing offers.
            </p>
        </td>
    </tr>
{% endblock %}