<div class="reviewed-by-wrapper d-none d-lg-flex">
    <div class="reviewed-by-stamp">
        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200">
            <g id="Group_950" data-name="Group 950" transform="translate(-748.907 -2827.334)">
                <g id="Group_943" data-name="Group 943">
                    <path id="Path_703" data-name="Path 703"
                          d="M848.907,3027.334a99.692,99.692,0,1,1,38.925-7.859A99.38,99.38,0,0,1,848.907,3027.334Zm0-197.289a97.288,97.288,0,1,0,68.794,28.5A96.655,96.655,0,0,0,848.907,2830.045Z"
                          fill="#704d9d"></path>
                </g>
                <g id="Group_944" data-name="Group 944">
                    <path id="Path_704" data-name="Path 704"
                          d="M848.907,2998.33a71,71,0,1,1,50.2-20.794A70.531,70.531,0,0,1,848.907,2998.33Zm0-139.281a68.284,68.284,0,1,0,48.285,20A67.842,67.842,0,0,0,848.907,2859.049Z"
                          fill="#704d9d"></path>
                </g>
                <circle id="Ellipse_16" data-name="Ellipse 16" cx="57.196" cy="57.196" r="57.196"
                        transform="translate(791.711 2870.138)" fill="#704d9d"></circle>
                <g id="YSP_Logo" data-name="YSP Logo">
                    <g id="Grupo_1" data-name="Grupo 1">
                        <path id="Trazado_1" data-name="Trazado 1"
                              d="M868.782,2924.994a2.346,2.346,0,0,0-.254,1.426c-.007,2.766,0,5.531-.006,8.3,0,1.02-.012,1.034-1.039,1.165-1.232.158-2.473.253-3.7.454-.692.114-.871-.157-.833-.758.01-.159,0-.32,0-.48v-18.637c0-1.3.01-1.286,1.307-1.43,1.314-.145,2.631-.272,3.934-.489a1.612,1.612,0,0,1,1.721.721c2.164,2.733,4.375,5.428,6.577,8.131a2.946,2.946,0,0,0,1.008,1c.023-.392.06-.726.061-1.059q.008-4.329.005-8.658c0-1.3-.093-1.29,1.165-1.393,1.2-.1,2.39-.254,3.575-.445.671-.109.819.136.813.756-.024,2.765-.009,5.531-.009,8.3v11.062c0,1.163-.042,1.039-1.032,1.132-1.434.135-2.87.3-4.289.545a1.345,1.345,0,0,1-1.427-.576c-2.371-2.821-4.768-5.621-7.152-8.431C869.082,2925.469,868.985,2925.294,868.782,2924.994Z"
                              fill="#faf9fa"></path>
                        <path id="Trazado_2" data-name="Trazado 2"
                              d="M859.6,2926.048a5.375,5.375,0,0,1,.126,1.857c.012,2.325,0,4.649,0,6.974,0,.444.027.85-.48,1.114a16.121,16.121,0,0,1-9.444,2.174,9.015,9.015,0,0,1-7.706-6.647,12.391,12.391,0,0,1,8.745-15.183,12.266,12.266,0,0,1,1.76-.339,13.672,13.672,0,0,1,5.941.412c.88.284.886.3.553,1.143-.453,1.153-.942,2.294-1.377,3.455-.218.574-.464.794-1.143.616a7.85,7.85,0,0,0-3.571-.135,4.892,4.892,0,0,0-3.2,1.949,6.652,6.652,0,0,0-.6,6.946,3.741,3.741,0,0,0,4.309,2.061.816.816,0,0,0,.8-.836.791.791,0,0,0-.013-.129c-.023-1.162.01-2.324-.009-3.486a.743.743,0,0,1,.608-.86l.017,0C856.47,2926.775,858.023,2926.412,859.6,2926.048Z"
                              fill="#faf9fa"></path>
                        <path id="Trazado_3" data-name="Trazado 3"
                              d="M822.922,2919.849a12.128,12.128,0,0,1,4.388.507c.576.167.752.425.5,1.042-.447,1.112-.824,2.254-1.173,3.4-.171.563-.381.762-1.017.623a14.339,14.339,0,0,0-4.534-.323,5.507,5.507,0,0,0-1.4.317,1.085,1.085,0,0,0-.784.97c-.025.527.353.79.8.922.612.182,1.235.326,1.859.463.86.187,1.742.289,2.584.533,3.748,1.089,5.379,4,4.422,7.8a6.741,6.741,0,0,1-3.593,4.579,16.114,16.114,0,0,1-11.448,1.089c-.722-.18-.884-.508-.642-1.19.373-1.054.728-2.122,1.008-3.2.185-.715.422-.979,1.236-.77a13.305,13.305,0,0,0,4.056.334,9.034,9.034,0,0,0,1.659-.251c1.057-.259,1.628-.744,1.585-1.373-.062-.9-.838-1-1.464-1.178-.882-.251-1.793-.4-2.693-.588-.272-.057-.552-.093-.826-.152-2.254-.49-4.1-1.575-4.711-3.93a6.782,6.782,0,0,1,1.671-6.783,10.365,10.365,0,0,1,6.717-2.824A17.43,17.43,0,0,1,822.922,2919.849Z"
                              fill="#faf9fa"></path>
                        <path id="Trazado_4" data-name="Trazado 4"
                              d="M805.955,2932.831V2918.04c0-.481.016-.962.024-1.443a.637.637,0,0,1,.579-.689.748.748,0,0,1,.081,0c1.156-.123,2.309-.269,3.464-.4.2-.022.464-.074.559.114a4.337,4.337,0,0,1,.159,2.35c-.036.537-.531.576-.912.584-.8.017-.986.406-.984,1.147.021,8.378.011,16.756.017,25.134,0,1.328.126,1.45,1.465,1.291q7.637-.909,15.269-1.851c5.052-.615,10.1-1.223,15.155-1.855.666-.083,1.005.106.992.8,0,.12,0,.241.007.361.036,1.82.031,1.774-1.815,1.983-4.339.49-8.672,1.023-13.009,1.55q-6.086.741-12.167,1.5-3.817.469-7.636.934c-1.193.144-1.231.122-1.233-1.084q-.013-7.817,0-15.634Z"
                              fill="#93c6aa"></path>
                        <path id="Trazado_5" data-name="Trazado 5"
                              d="M891.855,2922.4v15.625c0,1.216-.009,1.2-1.258,1.338-.717.077-1.43.184-2.14.3-.513.085-.768-.1-.769-.624,0-.561,0-1.122.006-1.682.006-.343.109-.661.493-.726.647-.109.672-.551.672-1.07q-.012-12.741-.011-25.482c0-1.1-.054-1.16-1.189-1.055-1.554.145-3.1.345-4.654.539q-8.94,1.118-17.878,2.243c-2.543.317-5.09.6-7.632.921-.575.072-.828-.112-.817-.7.061-2.635-.337-2.2,2.149-2.507,3.375-.421,6.758-.814,10.137-1.222q7.095-.859,14.19-1.724c2.5-.306,5-.642,7.511-.925,1.164-.131,1.187-.086,1.189,1.118Q891.865,2914.59,891.855,2922.4Z"
                              fill="#93c6aa"></path>
                        <path id="Trazado_6" data-name="Trazado 6"
                              d="M838.659,2918.165a2.662,2.662,0,0,1,.134,1.207q.007,9.432,0,18.864c0,1.16-.005,1.157-1.151,1.289-1.669.194-3.338.393-5.007.585-1,.115-1.012.109-1.017-.853-.01-2.123,0-4.245,0-6.368v-12.737c0-1.151.009-1.137,1.18-1.273C834.743,2918.654,836.686,2918.407,838.659,2918.165Z"
                              fill="#faf9fa"></path>
                        <path id="Trazado_7" data-name="Trazado 7"
                              d="M834.265,2908c0-1.52-.013-3.04.005-4.559.012-.989.079-1.061,1.084-1.191,1.427-.184,2.855-.357,4.286-.5,1.334-.131,2.59.011,3.293,1.38a4.117,4.117,0,0,1-.595,4.378c-.332.378-1.03.533-1.009,1.067a4.268,4.268,0,0,0,.6,1.419q.477,1.035.963,2.06c.208.435.064.653-.394.766-1.229.295-1.567.134-2.1-1.048-.326-.727-.675-1.447-.983-2.183a.812.812,0,0,0-.891-.587c-1.909.054-1.994.118-2,2.008,0,.52,0,1.04,0,1.56,0,.58-.168.963-.86,1.054-1.241.163-1.4.077-1.4-1.186-.007-1.48,0-2.96,0-4.439Zm2.277-2.383c0,.481-.007.961,0,1.44.005.249.063.524.388.468a9.509,9.509,0,0,0,3.266-.653,2.108,2.108,0,0,0,.8-2.431c-.218-.732-.667-.992-1.7-.959a9.182,9.182,0,0,0-1.072.109c-1.7.259-1.7.262-1.681,2.029Z"
                              fill="#faf9fa"></path>
                        <path id="Trazado_8" data-name="Trazado 8"
                              d="M844.848,2906.851c0-1.561-.013-3.123,0-4.684.011-1.008.055-1.084,1.065-1.219a26.645,26.645,0,0,1,4.659-.4,3.793,3.793,0,0,1,4,3.4,9.357,9.357,0,0,1,.006,3.228,5.384,5.384,0,0,1-4.569,4.634c-1.4.3-2.854.378-4.279.584-.708.1-.91-.185-.9-.858C844.871,2909.975,844.848,2908.413,844.848,2906.851Zm2.177-.389c0,1.082.02,2.164-.009,3.245-.014.555.137.837.747.751a11.044,11.044,0,0,0,2.585-.5,2.89,2.89,0,0,0,1.8-1.819,6.531,6.531,0,0,0,.019-4.354,2.154,2.154,0,0,0-1.96-1.507,10.516,10.516,0,0,0-2.51.17c-.5.064-.686.275-.675.774C847.04,2904.3,847.025,2905.38,847.025,2906.462Z"
                              fill="#faf9fa"></path>
                        <path id="Trazado_9" data-name="Trazado 9"
                              d="M874.644,2943.428c0,1.081.007,2.163,0,3.244a4.361,4.361,0,0,1-1,2.767,6.73,6.73,0,0,1-7.257,1.687,3.187,3.187,0,0,1-1.947-2.944c-.072-2.281-.048-4.566-.018-6.849.011-.86.435-1.088,1.5-1.067.811.016.742.578.745,1.089.011,2.042.067,4.088-.012,6.127-.077,1.99,1.346,2.523,2.667,2.4a3.023,3.023,0,0,0,3.107-3.361c.014-2-.005-4.006.008-6.009a1.323,1.323,0,0,1,1.911-1.174c.337.156.291.448.292.718.007,1.122,0,2.243,0,3.365Z"
                              fill="#faf9fa"></path>
                        <path id="Trazado_10" data-name="Trazado 10"
                              d="M845.723,2948.433c0-1.563.029-3.125-.012-4.686-.019-.753.246-1.083,1.01-1.149,1.354-.117,2.7-.332,4.052-.475,2-.211,3.193.347,3.669,1.746.532,1.566.339,3.941-1.415,5.062a8.781,8.781,0,0,1-3.565.942c-.316.051-.638.066-.956.093-.442.04-.616.286-.608.721q.021,1.08,0,2.163a1.36,1.36,0,0,1-1.941,1.138c-.311-.176-.23-.484-.231-.749C845.718,2951.637,845.722,2950.034,845.723,2948.433Zm4.626-4.565c-.5.066-1.207.181-1.92.243-.425.037-.525.259-.523.626q.009,1.5,0,2.99c0,.4.156.592.571.535a22.927,22.927,0,0,0,2.6-.373,2.237,2.237,0,0,0,1.4-2.7c-.2-1.015-.7-1.36-2.129-1.321Z"
                              fill="#faf9fa"></path>
                        <path id="Trazado_11" data-name="Trazado 11"
                              d="M822.4,2915.252c-.6.077-.772-.13-.524-.743q2.135-5.279,4.225-10.571c.293-.745.9-.663,1.48-.737.612-.076.7.391.88.785q2,4.489,4,8.98c.413.935.376.98-.613,1.123-1.256.181-1.252.181-1.761-.98-.109-.256-.252-.5-.338-.767a.66.66,0,0,0-.777-.515l-.04.009q-1.667.209-3.338.369a.965.965,0,0,0-.921.788,9.511,9.511,0,0,1-.327.9C823.883,2915.072,823.664,2915.226,822.4,2915.252Zm6.534-5.112c-.653-1.272-.982-2.55-1.758-3.784-.581,1.436-1.132,2.729-1.552,4.125a15.245,15.245,0,0,0,3.307-.341Z"
                              fill="#faf9fa"></path>
                        <path id="Trazado_12" data-name="Trazado 12"
                              d="M879.473,2950.2a6.681,6.681,0,0,1-2.7-.344c-.3-.125-.784-.272-.494-.757.249-.416.272-1.209,1.112-.907a6.314,6.314,0,0,0,2.951.321,4.363,4.363,0,0,0,1.044-.252,1.585,1.585,0,0,0,1.134-1.528c.027-.8-.529-1.114-1.164-1.32-.911-.295-1.847-.518-2.747-.841a2.665,2.665,0,0,1-2.063-2.243,3.07,3.07,0,0,1,1.38-3.114,6.7,6.7,0,0,1,5.74-.807c.384.111.905.221.647.877-.3.774-.6.984-1.252.773a4.8,4.8,0,0,0-3.061-.019,1.623,1.623,0,0,0-1.3,1.646c0,.871.6,1.14,1.286,1.341.881.259,1.763.51,2.638.785a2.616,2.616,0,0,1,2.1,2.337,3.181,3.181,0,0,1-1.654,3.218A6.521,6.521,0,0,1,879.473,2950.2Z"
                              fill="#faf9fa"></path>
                        <path id="Trazado_13" data-name="Trazado 13"
                              d="M817.768,2909.881c.9-1.668,1.784-3.179,2.524-4.76a2.079,2.079,0,0,1,2.039-1.314c.687-.022.841.13.521.741-.816,1.557-1.673,3.091-2.514,4.635a2.083,2.083,0,0,1-.117.209,7.166,7.166,0,0,0-1.348,5.193c.078.675-.106,1.138-.933,1.216-1.213.113-1.379.1-1.252-1.16a6.65,6.65,0,0,0-1.43-4.781c-.89-1.228-1.637-2.559-2.428-3.858-.481-.792-.388-.877.457-1.084a1.576,1.576,0,0,1,2.006.958C816.018,2907.2,816.879,2908.457,817.768,2909.881Z"
                              fill="#faf9fa"></path>
                        <path id="Trazado_14" data-name="Trazado 14"
                              d="M855.914,2947.219c0-1.56-.013-3.118.005-4.678a1.316,1.316,0,0,1,1.8-1.226c.487.163.362.571.363.9.012,2.438.006,4.877.006,7.316,0,.24.012.481-.008.719-.047.566.257.681.737.616q1.662-.227,3.326-.436c.277-.035.557-.054.836-.067.392-.015.833-.118.837.525,0,.544.031,1.057-.708,1.143-2.062.243-4.121.526-6.185.744-.91.1-.995-.018-1.005-1.006C855.9,2950.257,855.914,2948.738,855.914,2947.219Z"
                              fill="#faf9fa"></path>
                    </g>
                </g>
                <g id="Group_946" data-name="Group 946">
                    <g id="Group_945" data-name="Group 945">
                        <path id="Path_705" data-name="Path 705"
                              d="M791.873,2876.015a.956.956,0,0,1-.654-.348l-8.948-9.236a.837.837,0,0,1,.037-1.364l3.941-3.818q3.955-3.832,7.306-.375a4.963,4.963,0,0,1,1.351,2.33,4.127,4.127,0,0,1-.247,2.519l5.106,2a.762.762,0,0,1,.257.172q.272.281-.055.6l-1.729,1.675a1.061,1.061,0,0,1-.38.262.624.624,0,0,1-.421-.06l-4.752-2.039-1.853,1.8,2.957,3.053a.993.993,0,0,1,.335.657,1.03,1.03,0,0,1-.387.691l-1.168,1.132A1.031,1.031,0,0,1,791.873,2876.015Zm-1.139-9.388a2.825,2.825,0,0,0,.969-1.664,2.036,2.036,0,0,0-.7-1.614,2.141,2.141,0,0,0-1.552-.791,2.412,2.412,0,0,0-1.576.8l-1.854,1.795,3.018,3.115Z"
                              fill="#704d9d"></path>
                        <path id="Path_706" data-name="Path 706"
                              d="M803.387,2865.7a4.942,4.942,0,0,1-2.838-.275,5.208,5.208,0,0,1-2.327-2.035,5.559,5.559,0,0,1-1.066-4.368,6.1,6.1,0,0,1,2.836-3.628,5.832,5.832,0,0,1,4.312-1.171,5.356,5.356,0,0,1,3.421,2.544.769.769,0,0,1-.183,1.215l-6.142,4.079a2.111,2.111,0,0,0,1.733,1.023,4.035,4.035,0,0,0,2.368-.8,6.02,6.02,0,0,0,1.217-1.029,5.882,5.882,0,0,0,.79-1.163.856.856,0,0,1,.193-.258c.084-.056.207-.042.367.043l1.172.627a.559.559,0,0,1,.216.169.464.464,0,0,1-.007.421,6.186,6.186,0,0,1-1.17,1.766,10.737,10.737,0,0,1-1.933,1.6A7.975,7.975,0,0,1,803.387,2865.7Zm1.136-7.952a2.285,2.285,0,0,0-1.441-1.073,2.51,2.51,0,0,0-1.872.514,2.636,2.636,0,0,0-1.229,1.558,2.208,2.208,0,0,0,.387,1.76Z"
                              fill="#704d9d"></path>
                        <path id="Path_707" data-name="Path 707"
                              d="M815.554,2858.865a1.379,1.379,0,0,1-.521-.308l-7.494-6.652a.949.949,0,0,1-.208-.265.373.373,0,0,1-.011-.3.408.408,0,0,1,.236-.22l2.292-.981a.853.853,0,0,1,.458-.089.773.773,0,0,1,.4.266l4.5,4.444-.111-6.322a.828.828,0,0,1,.085-.461.791.791,0,0,1,.376-.279l2.293-.981a.411.411,0,0,1,.322-.02.381.381,0,0,1,.21.216.985.985,0,0,1,.048.334l-.36,10.014a1.33,1.33,0,0,1-.122.595.916.916,0,0,1-.448.333l-1.395.6A.856.856,0,0,1,815.554,2858.865Z"
                              fill="#704d9d"></path>
                        <path id="Path_708" data-name="Path 708"
                              d="M820.635,2844.1a1.153,1.153,0,0,1-.565-.719l-.136-.48a1.147,1.147,0,0,1,.1-.908,1.292,1.292,0,0,1,.822-.595l1.21-.343a1.325,1.325,0,0,1,1.034.066,1.157,1.157,0,0,1,.565.719l.136.48a1.15,1.15,0,0,1-.1.908,1.324,1.324,0,0,1-.844.6l-1.21.344A1.293,1.293,0,0,1,820.635,2844.1Zm3.3,11.519a.991.991,0,0,1-.4-.619l-2.33-8.2a.816.816,0,0,1,.678-1.184l1.543-.439a1.035,1.035,0,0,1,.806.019,1,1,0,0,1,.414.626l2.331,8.2a.957.957,0,0,1-.027.74,1.064,1.064,0,0,1-.678.43l-1.544.438A1.025,1.025,0,0,1,823.932,2855.617Z"
                              fill="#704d9d"></path>
                        <path id="Path_709" data-name="Path 709"
                              d="M831.595,2853.617a4.945,4.945,0,0,1-2.474-1.419,5.211,5.211,0,0,1-1.283-2.812,5.557,5.557,0,0,1,.826-4.42,6.1,6.1,0,0,1,4.078-2.139,5.828,5.828,0,0,1,4.411.707,5.353,5.353,0,0,1,2.071,3.726q.147.9-.666,1.032l-7.277,1.19a2.111,2.111,0,0,0,1.159,1.646,4.043,4.043,0,0,0,2.49.241,6,6,0,0,0,1.532-.438,5.872,5.872,0,0,0,1.2-.734.836.836,0,0,1,.283-.156c.1-.016.205.047.316.19l.81,1.054a.563.563,0,0,1,.128.243.469.469,0,0,1-.18.381,6.22,6.22,0,0,1-1.793,1.128,10.73,10.73,0,0,1-2.419.659A7.971,7.971,0,0,1,831.595,2853.617Zm4.308-6.78a2.291,2.291,0,0,0-.873-1.572,2.512,2.512,0,0,0-1.917-.3,2.635,2.635,0,0,0-1.762.914,2.213,2.213,0,0,0-.371,1.764Z"
                              fill="#704d9d"></path>
                        <path id="Path_710" data-name="Path 710"
                              d="M844.05,2852.247a.776.776,0,0,1-.235-.387l-3.049-9.381a.556.556,0,0,1-.025-.173c0-.2.125-.306.385-.31l2.255-.04a.7.7,0,0,1,.4.08.478.478,0,0,1,.168.3l1.619,5.763,1.736-4.867a.768.768,0,0,1,.2-.34.6.6,0,0,1,.378-.1l1.149-.021a.6.6,0,0,1,.382.091.773.773,0,0,1,.211.333l1.885,4.8,1.438-5.816a.5.5,0,0,1,.146-.306.644.644,0,0,1,.389-.094l2.277-.04q.5-.009.377.471l-2.74,9.483a.757.757,0,0,1-.221.394.692.692,0,0,1-.421.116l-1.691.029a.632.632,0,0,1-.414-.1.938.938,0,0,1-.245-.386l-1.885-4.847-1.714,4.911a.969.969,0,0,1-.232.394.641.641,0,0,1-.41.116l-1.669.029A.734.734,0,0,1,844.05,2852.247Z"
                              fill="#704d9d"></path>
                        <path id="Path_711" data-name="Path 711"
                              d="M858.788,2852.424a4.932,4.932,0,0,1-1.956-2.076,5.2,5.2,0,0,1-.414-3.062,5.557,5.557,0,0,1,2.072-3.991,6.1,6.1,0,0,1,4.523-.866,5.833,5.833,0,0,1,4.017,1.955,5.36,5.36,0,0,1,.9,4.167q-.12.9-.937.795l-7.309-.97a2.108,2.108,0,0,0,.632,1.91,4.032,4.032,0,0,0,2.313.952,6.011,6.011,0,0,0,1.593.026,5.891,5.891,0,0,0,1.36-.356.845.845,0,0,1,.316-.067c.1.013.182.1.248.273l.469,1.244a.556.556,0,0,1,.052.269q-.024.172-.282.313a6.2,6.2,0,0,1-2.044.56,10.717,10.717,0,0,1-2.506-.07A7.985,7.985,0,0,1,858.788,2852.424Zm6.087-5.241a2.285,2.285,0,0,0-.379-1.757,2.5,2.5,0,0,0-1.747-.844,2.636,2.636,0,0,0-1.952.364,2.21,2.21,0,0,0-.866,1.581Z"
                              fill="#704d9d"></path>
                        <path id="Path_712" data-name="Path 712"
                              d="M869.511,2848.909a6.4,6.4,0,0,1,1.423-2.572,4.454,4.454,0,0,1,2.291-1.324,5.625,5.625,0,0,1,2.918.168,6.4,6.4,0,0,1,1.549.683,3.083,3.083,0,0,1,.979.919l1.117-3.7a.816.816,0,0,1,1.21-.631l1.494.451a.837.837,0,0,1,.659,1.2l-3.657,12.1a7.389,7.389,0,0,1-2.528.346,10.843,10.843,0,0,1-3.005-.477Q867.9,2854.245,869.511,2848.909Zm7.016,4.974,1.147-3.8a1.594,1.594,0,0,0-.154-1.44,2.388,2.388,0,0,0-1.325-.864,2.231,2.231,0,0,0-2.051.229,3.636,3.636,0,0,0-1.241,1.97,3.218,3.218,0,0,0,.005,2.46,2.947,2.947,0,0,0,1.851,1.295A3.587,3.587,0,0,0,876.527,2853.883Z"
                              fill="#704d9d"></path>
                        <path id="Path_713" data-name="Path 713"
                              d="M889.266,2862.336a7.334,7.334,0,0,1-1.357-2.2l7.067-10.483a.837.837,0,0,1,1.343-.246l1.294.873a.816.816,0,0,1,.276,1.336l-2.158,3.2a3.508,3.508,0,0,1,1.413.233,6.684,6.684,0,0,1,1.5.762,5.217,5.217,0,0,1,2.447,3.258,5.12,5.12,0,0,1-1.01,3.883,5.852,5.852,0,0,1-3.77,2.742,6.45,6.45,0,0,1-4.766-1.33A11.133,11.133,0,0,1,889.266,2862.336Zm5.811.4a3.938,3.938,0,0,0,2.03-1.731,3.108,3.108,0,0,0,.681-2,2.26,2.26,0,0,0-1.138-1.552,2.664,2.664,0,0,0-1.564-.492,1.554,1.554,0,0,0-1.306.754l-2.194,3.255a2.664,2.664,0,0,0,.477.649,4.5,4.5,0,0,0,.719.6A2.693,2.693,0,0,0,895.077,2862.736Z"
                              fill="#704d9d"></path>
                        <path id="Path_714" data-name="Path 714"
                              d="M895.248,2869.392a.42.42,0,0,1,.086-.37.823.823,0,0,1,.3-.158l1.42-.405a.369.369,0,0,1,.384.04.652.652,0,0,1,.159.335,3.06,3.06,0,0,0,.233.725,2.206,2.206,0,0,0,.462.614,1.145,1.145,0,0,0,.864.371,3.362,3.362,0,0,0,1.191-.371l3.259-9.527a.769.769,0,0,1,.18-.31.336.336,0,0,1,.537.007l1.8,1.752a.787.787,0,0,1,.252.4.837.837,0,0,1-.07.446l-2.38,5.879,5.8-2.558a.841.841,0,0,1,.444-.083.787.787,0,0,1,.4.239l1.806,1.752a.336.336,0,0,1,.023.536.778.778,0,0,1-.3.189l-8.92,3.371a21.138,21.138,0,0,1-2.839.887,4.322,4.322,0,0,1-1.97.007,3.844,3.844,0,0,1-1.711-1.024A4.362,4.362,0,0,1,895.248,2869.392Z"
                              fill="#704d9d"></path>
                    </g>
                </g>
                <g id="Group_949" data-name="Group 949">
                    <g id="Group_948" data-name="Group 948">
                        <g id="Group_947" data-name="Group 947">
                            <path id="Path_715" data-name="Path 715"
                                  d="M757.727,2942.815a1.105,1.105,0,0,1,.735-.435l14.461-3.263a.964.964,0,0,1,1.321.856l2.284,10.12a1.123,1.123,0,0,1-.05.857,1.174,1.174,0,0,1-.744.4l-.9.2a1.22,1.22,0,0,1-.854-.037,1.092,1.092,0,0,1-.426-.75l-1.623-7.195-3.853.869,1.133,5.024a1.119,1.119,0,0,1-.049.857,1.169,1.169,0,0,1-.743.4l-.854.192a1.217,1.217,0,0,1-.855-.038,1.083,1.083,0,0,1-.425-.749l-1.133-5.024-3.878.875,1.618,7.17a1.085,1.085,0,0,1-.062.859,1.217,1.217,0,0,1-.756.4l-.878.2a1.165,1.165,0,0,1-.841-.041,1.122,1.122,0,0,1-.414-.752l-2.278-10.1A1.188,1.188,0,0,1,757.727,2942.815Z"
                                  fill="#7147a3"></path>
                            <path id="Path_716" data-name="Path 716"
                                  d="M760.94,2957.43a.4.4,0,0,1,.241-.237.6.6,0,0,1,.426-.014l9.571,2.432,4.744-7.987a.7.7,0,0,1,.335-.3.389.389,0,0,1,.308-.006.454.454,0,0,1,.234.268l1.192,2.862a1.123,1.123,0,0,1,.108.456.74.74,0,0,1-.12.362l-3.111,5.276,5.936,1.509a1,1,0,0,1,.346.18,1.069,1.069,0,0,1,.243.387l1.2,2.885a.464.464,0,0,1,.026.355.392.392,0,0,1-.223.214.773.773,0,0,1-.45.026l-9.02-2.283-5.016,8.505a.74.74,0,0,1-.311.292.4.4,0,0,1-.337,0,.507.507,0,0,1-.239-.279l-1.191-2.862a1.228,1.228,0,0,1-.115-.44.65.65,0,0,1,.114-.345l3.405-5.8-6.509-1.65a.66.66,0,0,1-.326-.162,1.253,1.253,0,0,1-.23-.391l-1.2-2.885A.5.5,0,0,1,760.94,2957.43Z"
                                  fill="#7147a3"></path>
                            <path id="Path_717" data-name="Path 717"
                                  d="M769.78,2976.55a1.1,1.1,0,0,1,.522-.676l12.236-8.371a.964.964,0,0,1,1.543.308l3.529,5.158q3.627,5.3-1.118,8.55-4.725,3.233-8.353-2.071l-1.835-2.682-3.673,2.512a1.146,1.146,0,0,1-.812.253,1.181,1.181,0,0,1-.71-.574l-1.059-1.548A1.181,1.181,0,0,1,769.78,2976.55Zm10.7.964q1.469,2.144,3.7.621t.76-3.671l-1.666-2.435-4.457,3.049Z"
                                  fill="#7147a3"></path>
                            <path id="Path_718" data-name="Path 718"
                                  d="M780.03,2990.586a1.11,1.11,0,0,1,.383-.764l10.4-10.565a.965.965,0,0,1,1.573.006l7.394,7.277a1.125,1.125,0,0,1,.422.748,1.171,1.171,0,0,1-.41.737l-.649.66a1.211,1.211,0,0,1-.739.429,1.084,1.084,0,0,1-.763-.4l-5.256-5.174-2.771,2.815,3.67,3.614a1.125,1.125,0,0,1,.422.747,1.171,1.171,0,0,1-.41.737l-.614.624a1.219,1.219,0,0,1-.739.43,1.081,1.081,0,0,1-.763-.4l-3.671-3.613-2.788,2.833,5.238,5.156a1.092,1.092,0,0,1,.413.757,1.22,1.22,0,0,1-.419.746l-.631.642a1.172,1.172,0,0,1-.73.421,1.123,1.123,0,0,1-.755-.409l-7.376-7.261A1.187,1.187,0,0,1,780.03,2990.586Z"
                                  fill="#7147a3"></path>
                            <path id="Path_719" data-name="Path 719"
                                  d="M792.067,3001.811a1.112,1.112,0,0,1,.225-.825l8.1-12.416a.963.963,0,0,1,1.543-.306l5.3,3.455q5.317,3.468,2.286,8.118a5.7,5.7,0,0,1-2.274,2.113,4.753,4.753,0,0,1-2.9.365l-.943,6.25a.892.892,0,0,1-.128.334c-.164.251-.392.282-.686.09l-2.324-1.515a1.219,1.219,0,0,1-.392-.361.716.716,0,0,1-.04-.488l1.079-5.863-2.492-1.625-2.676,4.1a1.14,1.14,0,0,1-.654.544,1.175,1.175,0,0,1-.876-.258l-1.571-1.024A1.192,1.192,0,0,1,792.067,3001.811Zm10.264-3.677a3.263,3.263,0,0,0,2.118.665,2.35,2.35,0,0,0,1.635-1.2,2.474,2.474,0,0,0,.494-1.947,2.791,2.791,0,0,0-1.306-1.568l-2.491-1.625-2.732,4.188Z"
                                  fill="#7147a3"></path>
                            <path id="Path_720" data-name="Path 720"
                                  d="M810.324,3012.271a1.107,1.107,0,0,1,.067-.851l4.9-11.905-3.792-1.561a1.119,1.119,0,0,1-.672-.534,1.166,1.166,0,0,1,.1-.837l.353-.855a1.216,1.216,0,0,1,.522-.677,1.081,1.081,0,0,1,.858.083l11.42,4.7a1.127,1.127,0,0,1,.679.551,1.173,1.173,0,0,1-.1.852l-.352.856a.9.9,0,0,1-1.394.561l-3.791-1.56-4.9,11.905a1.1,1.1,0,0,1-.553.651,1.227,1.227,0,0,1-.92-.094l-1.711-.7A1.229,1.229,0,0,1,810.324,3012.271Z"
                                  fill="#7147a3"></path>
                            <path id="Path_721" data-name="Path 721"
                                  d="M832.3,3018.963a1.114,1.114,0,0,1-.185-.834l1.378-14.761a.964.964,0,0,1,1.222-.99l5.227.488q4.257.4,6.282,2.646t1.615,6.629q-.4,4.329-2.837,6.187t-6.64,1.464l-5.227-.488A1.189,1.189,0,0,1,832.3,3018.963Zm6.542-2.164a4.222,4.222,0,0,0,3.426-.923q1.211-1.129,1.489-4.117t-.7-4.309a4.252,4.252,0,0,0-3.2-1.529l-2.439-.228-1.016,10.878Z"
                                  fill="#7147a3"></path>
                            <path id="Path_722" data-name="Path 722"
                                  d="M851.2,3020.192a1.1,1.1,0,0,1-.325-.789l-1.145-14.781a.965.965,0,0,1,1.037-1.184l10.343-.8a1.116,1.116,0,0,1,.841.174,1.163,1.163,0,0,1,.287.792l.072.922a1.222,1.222,0,0,1-.161.84,1.082,1.082,0,0,1-.8.313l-7.353.57.3,3.938,5.135-.4a1.123,1.123,0,0,1,.841.173,1.172,1.172,0,0,1,.287.793l.067.872a1.222,1.222,0,0,1-.16.84,1.085,1.085,0,0,1-.8.313l-5.135.4.307,3.963,7.328-.568a1.085,1.085,0,0,1,.842.186,1.219,1.219,0,0,1,.288.8l.07.9a1.176,1.176,0,0,1-.162.828,1.117,1.117,0,0,1-.8.3l-10.319.8A1.18,1.18,0,0,1,851.2,3020.192Z"
                                  fill="#7147a3"></path>
                            <path id="Path_723" data-name="Path 723"
                                  d="M869.779,3018.163a8.526,8.526,0,0,1-3.085-.412q-.432-.174-.487-.392a.681.681,0,0,1,.034-.37l.591-1.828c.056-.186.14-.294.253-.323a.729.729,0,0,1,.4.053,9.1,9.1,0,0,0,2.269.3,9.207,9.207,0,0,0,2.43-.285,3.968,3.968,0,0,0,1.969-.979,1.629,1.629,0,0,0,.316-1.591,1.713,1.713,0,0,0-.6-.982,2.857,2.857,0,0,0-1.155-.479q-.722-.152-2.184-.32a19.506,19.506,0,0,1-2.931-.516,5.589,5.589,0,0,1-2.167-1.11,4.018,4.018,0,0,1-1.288-2.161,4.235,4.235,0,0,1,.771-3.952,7.545,7.545,0,0,1,4.1-2.349,9.8,9.8,0,0,1,5.869-.054q.438.2.487.392a.684.684,0,0,1-.035.37l-.591,1.828c-.055.187-.14.294-.253.323a.732.732,0,0,1-.4-.052,6.593,6.593,0,0,0-3.833-.054q-2.614.668-2.133,2.557a1.711,1.711,0,0,0,.565.953,2.531,2.531,0,0,0,1.009.464,17.792,17.792,0,0,0,1.854.288l.747.093a19.8,19.8,0,0,1,3.122.609,4.692,4.692,0,0,1,1.949,1.115,4.512,4.512,0,0,1,1.133,2.162,4.177,4.177,0,0,1-.73,3.76,7.534,7.534,0,0,1-4.272,2.42A16.588,16.588,0,0,1,869.779,3018.163Z"
                                  fill="#7147a3"></path>
                            <path id="Path_724" data-name="Path 724"
                                  d="M882.991,3013.952a1.1,1.1,0,0,1-.549-.653l-5.591-13.731a.963.963,0,0,1,.627-1.442l1.736-.707a.942.942,0,0,1,1.457.594l5.591,13.73a1.147,1.147,0,0,1,.075.847,1.184,1.184,0,0,1-.711.573l-1.737.707A1.181,1.181,0,0,1,882.991,3013.952Z"
                                  fill="#7147a3"></path>
                            <path id="Path_725" data-name="Path 725"
                                  d="M891.284,3008.6a10.264,10.264,0,0,1-6.816-11.275,9.353,9.353,0,0,1,4.566-5.441,14.491,14.491,0,0,1,3.053-1.426,7.671,7.671,0,0,1,2.7-.421.489.489,0,0,1,.442.2.955.955,0,0,1,.074.365l.017,1.86c-.005.218-.057.356-.157.417a1.01,1.01,0,0,1-.42.079,7.807,7.807,0,0,0-3.716,1.2,5.507,5.507,0,0,0-2.721,3.373,6.007,6.007,0,0,0,1.031,4.549,6.227,6.227,0,0,0,3.469,3.072,5.087,5.087,0,0,0,4.066-.767,9.962,9.962,0,0,0,1.282-.923,4.784,4.784,0,0,0,.888-.947l-1.995-3.293-2.331,1.412a1.12,1.12,0,0,1-.829.224,1.169,1.169,0,0,1-.613-.579l-.466-.769a.865.865,0,0,1,.366-1.421l4.534-2.746a1.269,1.269,0,0,1,1.013-.234,1.474,1.474,0,0,1,.763.706l3.291,5.432a1.651,1.651,0,0,1,.251.607,1.051,1.051,0,0,1-.122.571,11.736,11.736,0,0,1-4.671,4.642A9.352,9.352,0,0,1,891.284,3008.6Z"
                                  fill="#7147a3"></path>
                            <path id="Path_726" data-name="Path 726"
                                  d="M907.509,2999.95a1.111,1.111,0,0,1-.756-.4l-10.368-10.631a1.107,1.107,0,0,1-.38-.765,1.225,1.225,0,0,1,.453-.807l1.109-1.082a1.392,1.392,0,0,1,.535-.365,1.562,1.562,0,0,1,.637-.009l11.906,2.181-6.511-6.676a.965.965,0,0,1,.037-1.573l1.342-1.308a.941.941,0,0,1,1.574,0l10.351,10.612a1.144,1.144,0,0,1,.388.757,1.183,1.183,0,0,1-.443.8l-1.127,1.1a1.352,1.352,0,0,1-.517.347,1.551,1.551,0,0,1-.637.01L903.2,2990l6.512,6.676a1.149,1.149,0,0,1,.388.756,1.179,1.179,0,0,1-.443.8l-1.342,1.309A1.191,1.191,0,0,1,907.509,2999.95Z"
                                  fill="#7147a3"></path>
                            <path id="Path_727" data-name="Path 727"
                                  d="M921.022,2985.817a1.1,1.1,0,0,1-.819-.241l-12.241-8.364a.965.965,0,0,1-.273-1.549l5.853-8.566a1.123,1.123,0,0,1,.662-.547,1.159,1.159,0,0,1,.8.272l.765.522a1.225,1.225,0,0,1,.554.651,1.086,1.086,0,0,1-.259.822l-4.161,6.089,3.261,2.229,2.9-4.252a1.123,1.123,0,0,1,.662-.547,1.179,1.179,0,0,1,.8.272l.723.494a1.221,1.221,0,0,1,.554.651,1.082,1.082,0,0,1-.26.822l-2.905,4.252,3.282,2.243,4.147-6.068a1.078,1.078,0,0,1,.672-.54,1.221,1.221,0,0,1,.808.279l.743.508a1.165,1.165,0,0,1,.543.645,1.114,1.114,0,0,1-.269.814l-5.839,8.546A1.18,1.18,0,0,1,921.022,2985.817Z"
                                  fill="#7147a3"></path>
                            <path id="Path_728" data-name="Path 728"
                                  d="M929.842,2972.229a1.115,1.115,0,0,1-.849-.094l-13.52-6.081a.965.965,0,0,1-.542-1.478l2.595-5.768q2.6-5.792,7.666-3.515a5.718,5.718,0,0,1,2.44,1.92,4.749,4.749,0,0,1,.808,2.8l6.321-.036a.876.876,0,0,1,.35.076c.274.123.339.343.2.663l-1.138,2.53a1.208,1.208,0,0,1-.3.443.716.716,0,0,1-.477.115l-5.959-.159-1.22,2.713,4.469,2.01a1.147,1.147,0,0,1,.638.562,1.183,1.183,0,0,1-.12.906l-.769,1.71A1.19,1.19,0,0,1,929.842,2972.229Zm-5.221-9.572a3.251,3.251,0,0,0,.33-2.2,2.349,2.349,0,0,0-1.441-1.43,2.471,2.471,0,0,0-2-.186,2.784,2.784,0,0,0-1.347,1.532l-1.221,2.713,4.56,2.052Z"
                                  fill="#7147a3"></path>
                            <path id="Path_729" data-name="Path 729"
                                  d="M937.5,2953.579a8.5,8.5,0,0,1-1.851,2.5q-.36.294-.578.237a.662.662,0,0,1-.307-.209l-1.315-1.4c-.136-.139-.19-.265-.16-.378a.719.719,0,0,1,.239-.325,9.058,9.058,0,0,0,1.357-1.843,9.269,9.269,0,0,0,.925-2.265,3.963,3.963,0,0,0,.093-2.2,1.628,1.628,0,0,0-1.24-1.046,1.718,1.718,0,0,0-1.149.05,2.877,2.877,0,0,0-.978.779q-.48.56-1.335,1.759a19.759,19.759,0,0,1-1.868,2.318,5.58,5.58,0,0,1-2.02,1.36,4.012,4.012,0,0,1-2.514.083,4.233,4.233,0,0,1-3.086-2.584,7.53,7.53,0,0,1-.078-4.722,9.794,9.794,0,0,1,2.789-5.165q.384-.286.578-.237a.7.7,0,0,1,.307.209l1.315,1.4a.411.411,0,0,1,.161.377.732.732,0,0,1-.24.325,6.608,6.608,0,0,0-1.9,3.33q-.678,2.614,1.209,3.1a1.71,1.71,0,0,0,1.107-.035,2.526,2.526,0,0,0,.894-.659,17.4,17.4,0,0,0,1.148-1.484l.442-.608a19.864,19.864,0,0,1,2.042-2.441,4.692,4.692,0,0,1,1.918-1.168,4.525,4.525,0,0,1,2.44.054,4.177,4.177,0,0,1,2.939,2.455,7.53,7.53,0,0,1,.055,4.909A16.553,16.553,0,0,1,937.5,2953.579Z"
                                  fill="#7147a3"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div class="reviewed-by-text">
        We will email you a digital proof in 1 hour. Once approved, we will begin processing your order.
    </div>
</div>