<div class="discount-for-next-order">
    {{ form_row(form.discountForNextOrder) }}
    <p class="text-muted small mb-0">
        Of course you do! Sign up for texts & emails from {{ storeInfo.storeName }} (YSP) and we'll send you your discount!
    </p>
    <p class="text-muted small mb-0">
        By signing up, you agree to receive recurring automated marketing messages from YSP at the number & email
        provided. Consent is not a condition of any purchase. Msg & data rates may apply.
    </p>
</div>