{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block pageTitle %}
    <div class="page-header-icon">
        <i class="fa-solid fa-cubes"></i>
    </div>
    Dashboard
{% endblock %}

{% block body %}

{% endblock %}
