{% extends 'admin/base.html.twig' %}

{% block title %}Create Stripe Invoice{% endblock %}

{% block pageTitle %}
<div class="page-header-icon">
    <i class="fas fa-dashboard"></i>
</div>
Create Stripe Invoice
{% endblock %}

{% block body %}
<div class="card card-header-actions mx-auto shadow-none">
    <div class="card-header">
        Invoice Details
        <div>
            <a href="{{ url('admin_invoice_stripe') }}" class="btn btn-light btn-sm">
                <i class="fas fa-arrow-left me-2"></i>List
            </a>
        </div>
    </div>
    <div class="card-body">
        {{ component('StripeInvoiceForm') }}
    </div>
</div>
{% endblock %}
