<div class="alert alert-danger p-2 text-center">
    <i class="fa fa-exclamation-triangle"></i>
    This needs to be updated by only a person who have knowledge of pricing rates and understand <br/>
    the effects of changing these values. If you are not sure, please contact your developer/manager.
</div>
{{ component('AdminTypeProductPricingForm', {
    form: form,
    productType: productType,
}) }}
<div class="alert alert-danger p-1 text-center">
    Please review the above chart carefully before saving it. It will start effecting immediately on live.
</div>