<button class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasCreatePaymentLink" aria-controls="offcanvasCreatePaymentLink">
    Create Payment Link
</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCreatePaymentLink"
     aria-labelledby="offcanvasCreatePaymentLinkLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasCreatePaymentLinkLabel">Create Payment Link</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {{ component('CreatePaymentLinkForm', { order: order }) }}
    </div>
</div>