<div class="offcanvas offcanvas-end" tabindex="-1" id="offShipping" aria-labelledby="offShippingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offShippingLabel">
            Edit Shipping
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {{ component('UpdateOrderShippingForm', {
            order: order,
        }) }}
    </div>
</div>