<div class="table-responsive">
	<div class="card-header d-flex justify-content-end">
		<div class="card-header-actions">
			<button class="btn btn-sm btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSplitOrder" aria-controls="offcanvasSplitOrder">
				<i class="fas fa-plus me-2"></i>
				Split Order
			</button>
		</div>
	</div>
    {{ include('admin/order/_order_table.html.twig') }}
</div>

{% component BootstrapOffCanvas with { id: 'offcanvasSplitOrder' } %}
	{% block offcanvas_header %} Split Order {{ order.orderId }} {% endblock %}
	{% block offcanvas_body %}
		{{ component('AdminOrderSplitOrder',{
			order: order
		}) }}
	{% endblock %}
{% endcomponent %}