<div class="text-center mb-2 d-flex flex-column align-items-center">
    <p class="mb-0 font-weight-bold">Custom Design</p>
    {% set file_counter = 1 %}
    {% for file in item.canvasData['front'] %}
        <a href="{{ file }}" target="_blank" class="btn btn-primary rounded-0 m-1 fit-content text-white">
            File #{{ file_counter }}
        </a>
        {% set file_counter = file_counter + 1 %}
    {% endfor %}
    {% if item.data.addons.sides.key == 'DOUBLE' %}
        {% for file in item.canvasData['back'] %}
            <a href="{{ file }}" target="_blank" class="btn btn-primary rounded-0 m-1 fit-content text-white">
                File #{{ file_counter }}
            </a>
            {% set file_counter = file_counter + 1 %}
        {% endfor %}
    {% endif %}
</div>