<div class="digital-proof-container">
    <p>We will email you a digital proof in 1 hour. Once approved, we will begin processing your order. You can Request
        Changes as many times as needed via the proof link.</p>
    <p>Our expert designers carefully review each order for alignment, color, spelling, sizing, and much more. For
        repeat orders, mention your old order number.</p>
    <p>We will contact you if we have any questions. We can create any design! For free expert custom design assistance,
        simply leave a comment and submit your order.</p>
    <p>This includes artwork creation. There are no setup or custom design fees. Upload your custom design or artwork
        files if available.</p>
    <p>Accepted files are PNG, JPEG, JPG, Ai &amp; PDF. Files must be less than 50 MB in size. Select See Design - Pay
        Later at checkout if you prefer to pay after you are satisfied with your proof.</p>
</div>