<div class="order-sample-container">
    <p><strong>$0.01</strong> for samples.</p>
    <a href="{{ url('order_sample') }}" target="_blank" class="btn btn-ysp-outline btn-sm">Order Samples</a>
    <p class="order-sample-info">
        Order samples to review quality, sizing, &amp; more by visiting
        <a href="{{ url('order_sample') }}" target="_blank">Order Samples</a>.
        For questions or to order custom shapes and sizes please give us a call at
        <a href="tel: +1-877-958-1499">+1-877-958-1499</a>, email
        <a href="mailto: {{storeInfo.storeEmail}}">{{storeInfo.storeEmail}}</a>, message us on our
        <a href="javascript:void(Tawk_API.toggle())">Live Chat</a>.
    </p>
</div>