<div class="reviews-container container {{ storeInfo.isPromoStore ? 'mt-2' : 'mt-4' }}">
    {% if not storeInfo.isPromoStore %}
    <h3 class="text-center">Reviews</h3>
    <div id="shopper_review_page">
        <div id="review_header"></div>
        <div id="merchant_page"></div>
        <div id="review_image">
            <a href="https://www.shopperapproved.com/reviews/yardsignplus.com"
               target="_blank"
               rel="nofollow"></a>
        </div>
    </div>
    <script type="text/javascript">
        var sa_review_count = 5;
        var sa_date_format = 'F j, Y';
        // function saLoadScript(s/*rc) {
        //     var js = window.document.createElement("script");
        //     js.src = src;
        //     js.type = "text/javascript";
        //     document.getElementsByTagName("head")[0].appendChild(js);
        // }
        // document.addEventListener('DOMContentLoaded', function () {
        //     saLoadScript('')
        // })*/
    </script>
    <script type="text/javascript" src="https://www.shopperapproved.com/merchant/36686.js"></script>
    {% endif %}
</div>