<div class="sdpl-container">
    <div class="sdpl-highlight">
        <img src="https://static.yardsignplus.com/assets/pay_later.png" alt="pay-later">
        <div>
            <p>No Obligation</p>
            <p>To Order</p>
        </div>
    </div>
    <div class="sdpl-info">
        Select this option at checkout if you prefer to pay after you are satisfied with your proof.
    </div>
</div>